
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192.2rem;
}.cauctionxyz-checkout-KXD {
  width: 100%;
  height: 125.7rem;
  background-color: #1c1c1c;
}
.cauctionxyz-checkout-KXD .section-fb5 {
  width: 100%;
  height: 124.9rem;
  position: relative;
  background-color: #242424;
}
.cauctionxyz-checkout-KXD .section-fb5 .background-1uq {
  width: 192rem;
  height: 124.9rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 146.138% 397.554%;
  background-position: -44.2922rem -255.6057rem;
  background-image: url('../assets/background-4sy.png');
}
.cauctionxyz-checkout-KXD .section-fb5 .notice-we-are-not-for-anything-after-sale-uEX {
  width: 135.3rem;
  height: 6.4rem;
  position: absolute;
  left: 28.3rem;
  top: 109rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1;
  color: rgba(133, 133, 133, 0.150000006);
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-checkout-KXD .section-fb5 .notice-we-are-not-for-anything-after-sale-uEX .notice-we-are-not-for-anything-after-sale-uEX-sub-0 {
}
.cauctionxyz-checkout-KXD .section-fb5 .notice-we-are-not-for-anything-after-sale-uEX .notice-we-are-not-for-anything-after-sale-uEX-sub-1 {
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  text-decoration-line: underline;
  color: rgba(133, 133, 133, 0.150000006);
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-checkout-KXD .section-fb5 .notice-we-are-not-for-anything-after-sale-uEX .notice-we-are-not-for-anything-after-sale-uEX-sub-2 {
}
.cauctionxyz-checkout-KXD .section-fb5 .notice-we-are-not-for-anything-after-sale-uEX .notice-we-are-not-for-anything-after-sale-uEX-sub-3 {
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1;
  text-decoration-line: underline;
  color: rgba(133, 133, 133, 0.150000006);
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-checkout-KXD .section-fb5 .notice-we-are-not-for-anything-after-sale-uEX .notice-we-are-not-for-anything-after-sale-uEX-sub-4 {
}
.cauctionxyz-checkout-KXD .section-fb5 .footer-SXH {
  width: 192rem;
  height: 10rem;
  position: absolute;
  left: 0.2rem;
  top: 114.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ccae4e;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #1c1c1c;
}
.cauctionxyz-checkout-KXD .section-fb5 .footer-SXH .footer-SXH-sub-0 {
}
.cauctionxyz-checkout-KXD .section-fb5 .footer-SXH .footer-SXH-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #738adb;
  font-family: Arial, 'Source Sans Pro';
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z {
  width: 164rem;
  height: 85.6rem;
  position: absolute;
  left: 4.7rem;
  top: 22rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .your-basket-VP5 {
  margin: 0rem 0rem 4.9rem 18.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7.5rem;
  font-weight: 400;
  line-height: 1;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF {
  width: 100%;
  height: 73.2rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK {
  margin-right: 22.6rem;
  width: 85.6rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .rectangle-10-FmZ {
  width: 84rem;
  height: 73.2rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0 5rem #000000;
  background-color: rgba(32, 32, 32, 0.7699999809);
  border-radius: 2.5rem;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .rectangle-11-ZnF {
  width: 84rem;
  height: 8.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #202020;
  border-radius: 2.5rem 2.5rem 0 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-HiF {
  width: 13.9rem;
  height: 6rem;
  position: absolute;
  left: 1.65rem;
  top: 2.05rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  color: #c9c9c9;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .price-ahM {
  width: 15.6rem;
  height: 6rem;
  position: absolute;
  left: 34.15rem;
  top: 2.05rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  color: #c9c9c9;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .amount-58K {
  width: 23.6rem;
  height: 6rem;
  position: absolute;
  left: 59.5rem;
  top: 2.05rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  color: #c9c9c9;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-8-yjV {
  width: 85.6rem;
  height: 7.4rem;
  position: absolute;
  left: 0;
  top: 60.1rem;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-8-yjV .rectangle-15-iBH {
  width: 84rem;
  height: 7.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(43, 43, 43, 0.5);
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-8-yjV .x-circle-3jM {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  left: 82.4rem;
  top: 2.1rem;
  background-color: #8f0d0d;
  border-radius: 1.6rem;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-8-yjV .x-mfM {
  width: 1.9rem;
  height: 3.2rem;
  position: absolute;
  left: 83.05rem;
  top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-8-yjV .amount-VLT {
  width: 14.1rem;
  height: 6.45rem;
  position: absolute;
  left: 65.4rem;
  top: 0.5rem;
  display: flex;
  align-items: center;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-8-yjV .amount-VLT .auto-group-rco9-RV1 {
  width: 4rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-8-yjV .amount-VLT .auto-group-rco9-RV1 .box-yWX {
  width: 4rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #3b3b3b;
  border-radius: 2.5rem 0 0 2.5rem;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-8-yjV .amount-VLT .auto-group-rco9-RV1 .item--hxK {
  width: 2rem;
  height: 5rem;
  position: absolute;
  left: 0.8rem;
  top: 1.45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
  color: #ff0000;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-8-yjV .amount-VLT .auto-group-lrsh-bH1 {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-8-yjV .amount-VLT .auto-group-lrsh-bH1 .auto-group-8z7u-MGB {
  margin-bottom: 0.05rem;
  box-sizing: border-box;
  padding: 1.4rem 2.15rem 0rem 1.95rem;
  height: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #555555;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-8-yjV .amount-VLT .auto-group-lrsh-bH1 .auto-group-4wyw-R19 {
  margin-bottom: 0.05rem;
  box-sizing: border-box;
  padding: 1.35rem 0.85rem 0.05rem 0.85rem;
  height: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
  color: #0d962c;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #3b3b3b;
  border-radius: 0 2.5rem 2.5rem 0;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-8-yjV .item-27500-B8j {
  width: 12.5rem;
  height: 3.6rem;
  position: absolute;
  left: 33.9rem;
  top: 1.9rem;
  display: flex;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1;
  color: #ececec;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-8-yjV .crimson-deal-full-set-rVm {
  width: 28.5rem;
  height: 2.5rem;
  position: absolute;
  left: 1.3rem;
  top: 2.45rem;
  display: flex;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1;
  color: #ececec;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-7-9Us {
  width: 85.6rem;
  height: 7.4rem;
  position: absolute;
  left: 0;
  top: 52.7rem;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-7-9Us .behind-svf {
  width: 84rem;
  height: 7.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(57, 57, 57, 0.5);
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-7-9Us .x-circle-d99 {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  left: 82.4rem;
  top: 2.1rem;
  background-color: #8f0d0d;
  border-radius: 1.6rem;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-7-9Us .x-Ymu {
  width: 1.9rem;
  height: 3.2rem;
  position: absolute;
  left: 83.05rem;
  top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-7-9Us .amount-Tts {
  width: 14.1rem;
  height: 6.45rem;
  position: absolute;
  left: 65.4rem;
  top: 0.5rem;
  display: flex;
  align-items: center;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-7-9Us .amount-Tts .auto-group-vrzr-bkB {
  width: 4rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-7-9Us .amount-Tts .auto-group-vrzr-bkB .box-9mh {
  width: 4rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #3b3b3b;
  border-radius: 2.5rem 0 0 2.5rem;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-7-9Us .amount-Tts .auto-group-vrzr-bkB .item--tjH {
  width: 2rem;
  height: 5rem;
  position: absolute;
  left: 0.8rem;
  top: 1.45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
  color: #ff0000;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-7-9Us .amount-Tts .auto-group-qh19-b7u {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-7-9Us .amount-Tts .auto-group-qh19-b7u .auto-group-lb2o-whZ {
  margin-bottom: 0.05rem;
  box-sizing: border-box;
  padding: 1.4rem 2.15rem 0rem 1.95rem;
  height: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #555555;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-7-9Us .amount-Tts .auto-group-qh19-b7u .auto-group-g8yd-pFZ {
  margin-bottom: 0.05rem;
  box-sizing: border-box;
  padding: 1.35rem 0.85rem 0.05rem 0.85rem;
  height: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
  color: #0d962c;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #3b3b3b;
  border-radius: 0 2.5rem 2.5rem 0;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-7-9Us .item-1000-sUj {
  width: 10.5rem;
  height: 3.6rem;
  position: absolute;
  left: 33.9rem;
  top: 1.9rem;
  display: flex;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1;
  color: #ececec;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-7-9Us .juju-shortbow-aP9 {
  width: 18.8rem;
  height: 2.5rem;
  position: absolute;
  left: 1.3rem;
  top: 2.45rem;
  display: flex;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1;
  color: #ececec;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-6-VW7 {
  width: 85.6rem;
  height: 7.4rem;
  position: absolute;
  left: 0;
  top: 45.3rem;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-6-VW7 .rectangle-15-Ref {
  width: 84rem;
  height: 7.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(43, 43, 43, 0.5);
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-6-VW7 .x-circle-yAP {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  left: 82.4rem;
  top: 2.1rem;
  background-color: #8f0d0d;
  border-radius: 1.6rem;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-6-VW7 .x-71h {
  width: 1.9rem;
  height: 3.2rem;
  position: absolute;
  left: 83.05rem;
  top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-6-VW7 .amount-pgo {
  width: 14.1rem;
  height: 6.45rem;
  position: absolute;
  left: 65.4rem;
  top: 0.5rem;
  display: flex;
  align-items: center;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-6-VW7 .amount-pgo .auto-group-dro9-kqM {
  width: 4rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-6-VW7 .amount-pgo .auto-group-dro9-kqM .box-7R1 {
  width: 4rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #3b3b3b;
  border-radius: 2.5rem 0 0 2.5rem;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-6-VW7 .amount-pgo .auto-group-dro9-kqM .item--FGK {
  width: 2rem;
  height: 5rem;
  position: absolute;
  left: 0.8rem;
  top: 1.45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
  color: #ff0000;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-6-VW7 .amount-pgo .auto-group-uumr-xAj {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-6-VW7 .amount-pgo .auto-group-uumr-xAj .auto-group-moyh-7pK {
  margin-bottom: 0.05rem;
  box-sizing: border-box;
  padding: 1.4rem 2.15rem 0rem 1.95rem;
  height: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #555555;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-6-VW7 .amount-pgo .auto-group-uumr-xAj .auto-group-nymy-bDh {
  margin-bottom: 0.05rem;
  box-sizing: border-box;
  padding: 1.35rem 0.85rem 0.05rem 0.85rem;
  height: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
  color: #0d962c;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #3b3b3b;
  border-radius: 0 2.5rem 2.5rem 0;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-6-VW7 .item-44444-eBy {
  width: 12.1rem;
  height: 3.6rem;
  position: absolute;
  left: 33.9rem;
  top: 1.9rem;
  display: flex;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1;
  color: #ececec;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-6-VW7 .dead-bush-of-love-8N3 {
  width: 21.3rem;
  height: 2.5rem;
  position: absolute;
  left: 1.3rem;
  top: 2.45rem;
  display: flex;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1;
  color: #ececec;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-5-EAB {
  width: 85.6rem;
  height: 7.4rem;
  position: absolute;
  left: 0;
  top: 37.9rem;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-5-EAB .behind-N1V {
  width: 84rem;
  height: 7.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(57, 57, 57, 0.5);
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-5-EAB .x-circle-KBd {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  left: 82.4rem;
  top: 2.1rem;
  background-color: #8f0d0d;
  border-radius: 1.6rem;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-5-EAB .x-Sn3 {
  width: 1.9rem;
  height: 3.2rem;
  position: absolute;
  left: 83.05rem;
  top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-5-EAB .amount-kXq {
  width: 14.1rem;
  height: 6.45rem;
  position: absolute;
  left: 65.4rem;
  top: 0.5rem;
  display: flex;
  align-items: center;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-5-EAB .amount-kXq .auto-group-xawb-te3 {
  width: 4rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-5-EAB .amount-kXq .auto-group-xawb-te3 .box-r55 {
  width: 4rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #3b3b3b;
  border-radius: 2.5rem 0 0 2.5rem;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-5-EAB .amount-kXq .auto-group-xawb-te3 .item--Bd9 {
  width: 2rem;
  height: 5rem;
  position: absolute;
  left: 0.8rem;
  top: 1.45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
  color: #ff0000;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-5-EAB .amount-kXq .auto-group-bvfm-V83 {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-5-EAB .amount-kXq .auto-group-bvfm-V83 .auto-group-bbks-S3H {
  margin-bottom: 0.05rem;
  box-sizing: border-box;
  padding: 1.4rem 2.15rem 0rem 1.95rem;
  height: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #555555;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-5-EAB .amount-kXq .auto-group-bvfm-V83 .auto-group-yk3h-Woq {
  margin-bottom: 0.05rem;
  box-sizing: border-box;
  padding: 1.35rem 0.85rem 0.05rem 0.85rem;
  height: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
  color: #0d962c;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #3b3b3b;
  border-radius: 0 2.5rem 2.5rem 0;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-5-EAB .item-7500-6000-yBd {
  width: 22.4rem;
  height: 3.6rem;
  position: absolute;
  left: 33.9rem;
  top: 1.9rem;
  display: flex;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1;
  color: #ececec;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-5-EAB .item-7500-6000-yBd .item-7500-6000-yBd-sub-0 {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1;
  text-decoration-line: line-through;
  color: #ff0000;
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-5-EAB .item-7500-6000-yBd .item-7500-6000-yBd-sub-1 {
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-5-EAB .item-7500-6000-yBd .item-7500-6000-yBd-sub-2 {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1;
  color: #2c8f14;
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-5-EAB .plasmaflux-2JK {
  width: 15.2rem;
  height: 2.5rem;
  position: absolute;
  left: 1.3rem;
  top: 2.45rem;
  display: flex;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1;
  color: #ececec;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-4-LZu {
  width: 85.6rem;
  height: 7.4rem;
  position: absolute;
  left: 0;
  top: 30.5rem;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-4-LZu .rectangle-15-5XV {
  width: 84rem;
  height: 7.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(43, 43, 43, 0.5);
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-4-LZu .x-circle-dJ7 {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  left: 82.4rem;
  top: 2.1rem;
  background-color: #8f0d0d;
  border-radius: 1.6rem;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-4-LZu .x-m9R {
  width: 1.9rem;
  height: 3.2rem;
  position: absolute;
  left: 83.05rem;
  top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-4-LZu .amount-UpX {
  width: 14.1rem;
  height: 6.45rem;
  position: absolute;
  left: 65.4rem;
  top: 0.5rem;
  display: flex;
  align-items: center;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-4-LZu .amount-UpX .auto-group-rrod-RDy {
  width: 4rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-4-LZu .amount-UpX .auto-group-rrod-RDy .box-BU3 {
  width: 4rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #3b3b3b;
  border-radius: 2.5rem 0 0 2.5rem;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-4-LZu .amount-UpX .auto-group-rrod-RDy .item--vRd {
  width: 2rem;
  height: 5rem;
  position: absolute;
  left: 0.8rem;
  top: 1.45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
  color: #ff0000;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-4-LZu .amount-UpX .auto-group-cgjt-2Uf {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-4-LZu .amount-UpX .auto-group-cgjt-2Uf .auto-group-3aaj-zAb {
  margin-bottom: 0.05rem;
  box-sizing: border-box;
  padding: 1.4rem 0.55rem 0rem 0.35rem;
  height: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #555555;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-4-LZu .amount-UpX .auto-group-cgjt-2Uf .auto-group-17wm-4AT {
  margin-bottom: 0.05rem;
  box-sizing: border-box;
  padding: 1.35rem 0.85rem 0.05rem 0.85rem;
  height: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
  color: #0d962c;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #3b3b3b;
  border-radius: 0 2.5rem 2.5rem 0;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-4-LZu .o00-KMH {
  width: 13.4rem;
  height: 3.6rem;
  position: absolute;
  left: 33.9rem;
  top: 1.9rem;
  display: flex;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1;
  color: #ececec;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-4-LZu .bedrock-barrier-Rv7 {
  width: 23.1rem;
  height: 2.5rem;
  position: absolute;
  left: 1.3rem;
  top: 2.45rem;
  display: flex;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1;
  color: #ececec;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-3-wNf {
  width: 85.6rem;
  height: 7.4rem;
  position: absolute;
  left: 0;
  top: 23.1rem;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-3-wNf .behind-sGK {
  width: 84rem;
  height: 7.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(57, 57, 57, 0.5);
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-3-wNf .x-circle-cDu {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  left: 82.4rem;
  top: 2.1rem;
  background-color: #8f0d0d;
  border-radius: 1.6rem;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-3-wNf .x-vkP {
  width: 1.9rem;
  height: 3.2rem;
  position: absolute;
  left: 83.05rem;
  top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-3-wNf .amount-qcT {
  width: 14.1rem;
  height: 6.45rem;
  position: absolute;
  left: 65.4rem;
  top: 0.5rem;
  display: flex;
  align-items: center;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-3-wNf .amount-qcT .auto-group-22s3-aa3 {
  width: 4rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-3-wNf .amount-qcT .auto-group-22s3-aa3 .box-jhq {
  width: 4rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #3b3b3b;
  border-radius: 2.5rem 0 0 2.5rem;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-3-wNf .amount-qcT .auto-group-22s3-aa3 .item--Gxf {
  width: 2rem;
  height: 5rem;
  position: absolute;
  left: 0.8rem;
  top: 1.45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
  color: #ff0000;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-3-wNf .amount-qcT .auto-group-jgfh-Ao9 {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-3-wNf .amount-qcT .auto-group-jgfh-Ao9 .auto-group-6nvu-Xdh {
  margin-bottom: 0.05rem;
  box-sizing: border-box;
  padding: 1.4rem 1.85rem 0rem 1.65rem;
  height: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #555555;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-3-wNf .amount-qcT .auto-group-jgfh-Ao9 .auto-group-elbq-Czj {
  margin-bottom: 0.05rem;
  box-sizing: border-box;
  padding: 1.35rem 0.85rem 0.05rem 0.85rem;
  height: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
  color: #0d962c;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #3b3b3b;
  border-radius: 0 2.5rem 2.5rem 0;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-3-wNf .item-2000-52w {
  width: 11rem;
  height: 3.6rem;
  position: absolute;
  left: 33.9rem;
  top: 1.9rem;
  display: flex;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1;
  color: #ececec;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-3-wNf .coins-Zyh {
  width: 21.7rem;
  height: 2.5rem;
  position: absolute;
  left: 1.3rem;
  top: 2.45rem;
  display: flex;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1;
  color: #ececec;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-2-sjV {
  width: 85.6rem;
  height: 7.4rem;
  position: absolute;
  left: 0;
  top: 15.7rem;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-2-sjV .rectangle-15-1Ku {
  width: 84rem;
  height: 7.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(43, 43, 43, 0.5);
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-2-sjV .x-circle-kHV {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  left: 82.4rem;
  top: 2.1rem;
  background-color: #8f0d0d;
  border-radius: 1.6rem;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-2-sjV .x-Gmd {
  width: 1.9rem;
  height: 3.2rem;
  position: absolute;
  left: 83.05rem;
  top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-2-sjV .amount-b3D {
  width: 14.1rem;
  height: 6.45rem;
  position: absolute;
  left: 65.4rem;
  top: 0.5rem;
  display: flex;
  align-items: center;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-2-sjV .amount-b3D .auto-group-n2ym-839 {
  width: 4rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-2-sjV .amount-b3D .auto-group-n2ym-839 .box-5UB {
  width: 4rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #3b3b3b;
  border-radius: 2.5rem 0 0 2.5rem;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-2-sjV .amount-b3D .auto-group-n2ym-839 .item--pgf {
  width: 2rem;
  height: 5rem;
  position: absolute;
  left: 0.8rem;
  top: 1.45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
  color: #ff0000;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-2-sjV .amount-b3D .auto-group-2g2j-8ST {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-2-sjV .amount-b3D .auto-group-2g2j-8ST .auto-group-kakp-gTy {
  margin-bottom: 0.05rem;
  box-sizing: border-box;
  padding: 1.4rem 1.8rem 0rem 1.6rem;
  height: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #555555;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-2-sjV .amount-b3D .auto-group-2g2j-8ST .auto-group-nluf-A8F {
  margin-bottom: 0.05rem;
  box-sizing: border-box;
  padding: 1.35rem 0.85rem 0.05rem 0.85rem;
  height: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
  color: #0d962c;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #3b3b3b;
  border-radius: 0 2.5rem 2.5rem 0;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-2-sjV .item-050-cW3 {
  width: 8.8rem;
  height: 3.6rem;
  position: absolute;
  left: 33.9rem;
  top: 1.9rem;
  display: flex;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1;
  color: #ececec;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-2-sjV .coins-J7y {
  width: 18.6rem;
  height: 2.5rem;
  position: absolute;
  left: 1.3rem;
  top: 2.45rem;
  display: flex;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1;
  color: #ececec;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-1-zmV {
  width: 85.6rem;
  height: 7.4rem;
  position: absolute;
  left: 0;
  top: 8.3rem;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-1-zmV .behind-vQF {
  width: 84rem;
  height: 7.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(57, 57, 57, 0.5);
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-1-zmV .x-circle-fcj {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  left: 82.4rem;
  top: 2.1rem;
  background-color: #8f0d0d;
  border-radius: 1.6rem;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-1-zmV .x-azb {
  width: 1.9rem;
  height: 3.2rem;
  position: absolute;
  left: 83.05rem;
  top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-1-zmV .amount-hZR {
  width: 14.1rem;
  height: 6.45rem;
  position: absolute;
  left: 65.4rem;
  top: 0.5rem;
  display: flex;
  align-items: center;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-1-zmV .amount-hZR .auto-group-xdcb-SG7 {
  width: 4rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-1-zmV .amount-hZR .auto-group-xdcb-SG7 .box-Ph9 {
  width: 4rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #3b3b3b;
  border-radius: 2.5rem 0 0 2.5rem;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-1-zmV .amount-hZR .auto-group-xdcb-SG7 .item--8Pq {
  width: 2rem;
  height: 5rem;
  position: absolute;
  left: 0.8rem;
  top: 1.45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
  color: #ff0000;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-1-zmV .amount-hZR .auto-group-74hv-ESs {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-1-zmV .amount-hZR .auto-group-74hv-ESs .auto-group-anpf-nzB {
  margin-bottom: 0.05rem;
  box-sizing: border-box;
  padding: 1.4rem 2.15rem 0rem 1.95rem;
  height: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #555555;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-1-zmV .amount-hZR .auto-group-74hv-ESs .auto-group-o839-U6K {
  margin-bottom: 0.05rem;
  box-sizing: border-box;
  padding: 1.35rem 0.85rem 0.05rem 0.85rem;
  height: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
  color: #0d962c;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #3b3b3b;
  border-radius: 0 2.5rem 2.5rem 0;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-1-zmV .item-83000-X4b {
  width: 13.1rem;
  height: 3.6rem;
  position: absolute;
  left: 33.9rem;
  top: 1.9rem;
  display: flex;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1;
  color: #ececec;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-e9rz-jYK .item-1-zmV .mega-accessory-bundle-R9y {
  width: 29rem;
  height: 2.5rem;
  position: absolute;
  left: 1.3rem;
  top: 2.45rem;
  display: flex;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-v6ph-8KH {
  width: 55.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-v6ph-8KH .auto-group-ahyz-gLo {
  margin-bottom: 4.7rem;
  box-sizing: border-box;
  padding: 1.55rem 1.1rem 3.15rem 1.1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5rem #000000;
  background-color: rgba(32, 32, 32, 0.7699999809);
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-v6ph-8KH .auto-group-ahyz-gLo .total-203994-C4F {
  margin-bottom: 2.3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
  color: #ffa800;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-v6ph-8KH .auto-group-ahyz-gLo .deliver-to--hmh {
  margin: 0rem 0rem 0.65rem 1.1rem;
  display: flex;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-v6ph-8KH .auto-group-ahyz-gLo .auto-group-omdq-DEF {
  margin-bottom: 1.7rem;
  box-sizing: border-box;
  padding: 2.25rem 1.1rem 0.65rem 1.1rem;
  width: 47.2rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1;
  color: #9c9b9b;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem #171717;
  background-color: rgba(47, 47, 47, 0.5);
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-v6ph-8KH .auto-group-ahyz-gLo .auto-group-cvpj-fc3 {
  margin-bottom: 2.5rem;
  width: 47.2rem;
  height: 7.05rem;
  position: relative;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-v6ph-8KH .auto-group-ahyz-gLo .auto-group-cvpj-fc3 .rectangle-17-1A7 {
  width: 40.2rem;
  height: 6.1rem;
  position: absolute;
  left: 7rem;
  top: 0;
  border: solid 0.3rem #171717;
  box-sizing: border-box;
  background-color: rgba(47, 47, 47, 0.5);
  border-radius: 0 0.5rem 0.5rem 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-v6ph-8KH .auto-group-ahyz-gLo .auto-group-cvpj-fc3 .rectangle-18-umH {
  width: 7.2rem;
  height: 6.1rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.3rem #171717;
  box-sizing: border-box;
  background-color: rgba(47, 47, 47, 0.5);
  border-radius: 0.5rem 0 0 0.5rem;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-v6ph-8KH .auto-group-ahyz-gLo .auto-group-cvpj-fc3 .discord-username-RDq {
  width: 28.9rem;
  height: 3.2rem;
  position: absolute;
  left: 8.1rem;
  top: 2.25rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1;
  color: #9c9b9b;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-v6ph-8KH .auto-group-ahyz-gLo .auto-group-cvpj-fc3 .item--Xnf {
  width: 4.4rem;
  height: 6.5rem;
  position: absolute;
  left: 1.4rem;
  top: 0.55rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6.5rem;
  font-weight: 400;
  line-height: 1;
  color: #bcbcbc;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-v6ph-8KH .auto-group-ahyz-gLo .auto-group-gqwh-cp7 {
  margin: 0rem 5.8rem 0rem 1.7rem;
  width: calc(100% - 7.5rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-v6ph-8KH .auto-group-ahyz-gLo .auto-group-gqwh-cp7 .checkbox-8XZ {
  margin: 0.15rem 1.2rem 0rem 0rem;
  width: 4rem;
  height: 4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-v6ph-8KH .auto-group-ahyz-gLo .auto-group-gqwh-cp7 .by-checking-this-box-you-agree-to-the-terms-of-service-qwm {
  max-width: 40.9rem;
  display: flex;
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 1;
  color: rgba(236, 236, 236, 0.8500000238);
  font-family: Luckiest Guy, 'Source Sans Pro';
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-v6ph-8KH .auto-group-ahyz-gLo .auto-group-gqwh-cp7 .by-checking-this-box-you-agree-to-the-terms-of-service-qwm .by-checking-this-box-you-agree-to-the-terms-of-service-qwm-sub-0 {
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-v6ph-8KH .auto-group-ahyz-gLo .auto-group-gqwh-cp7 .by-checking-this-box-you-agree-to-the-terms-of-service-qwm .by-checking-this-box-you-agree-to-the-terms-of-service-qwm-sub-1 {
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 1;
  text-decoration-line: underline;
  color: rgba(236, 236, 236, 0.8500000238);
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-v6ph-8KH .auto-group-ahyz-gLo .auto-group-gqwh-cp7 .by-checking-this-box-you-agree-to-the-terms-of-service-qwm .by-checking-this-box-you-agree-to-the-terms-of-service-qwm-sub-2 {
}
.cauctionxyz-checkout-KXD .section-fb5 .extra-N3Z .auto-group-qget-PzF .auto-group-v6ph-8KH .rectangle-19-M2w {
  width: 100%;
  height: 11.8rem;
  background-color: rgba(32, 32, 32, 0.7699999809);
  border-radius: 1rem;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .polygon-1-GQo {
  width: 4rem;
  height: 6rem;
  position: absolute;
  left: 1.7rem;
  top: 72.6rem;
  object-fit: contain;
  vertical-align: top;
}
.cauctionxyz-checkout-KXD .section-fb5 .exit-bxs {
  box-sizing: border-box;
  padding: 4rem 1.4rem;
  width: 8rem;
  height: 8rem;
  position: absolute;
  left: 1.3rem;
  top: 19.2rem;
  box-shadow: 0 0 0.5rem #000000;
  background-color: #2d2d2d;
  border-radius: 4rem;
}
.cauctionxyz-checkout-KXD .section-fb5 .exit-bxs .line-6-XrX {
  width: 5.2rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
}
.cauctionxyz-checkout-KXD .section-fb5 .header-fC3 {
  box-sizing: border-box;
  padding: 3rem 1.784rem 2.909rem 77.55rem;
  width: 192rem;
  height: 18.559rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background-color: rgba(28, 28, 28, 0.75);
}
.cauctionxyz-checkout-KXD .section-fb5 .header-fC3 .coins-mF5 {
  margin: 10.55rem 0.021rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffc712;
  font-family: Arimo Hebrew Subset, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .header-fC3 .auto-group-9abq-4jy {
  margin: 2.43rem 73.429rem 0rem 0rem;
  width: 29.4rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .header-fC3 .auto-group-9abq-4jy .link-heading-1-cs-auction-z7q {
  margin-bottom: 0.52rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.2575;
  font-family: Arimo Hebrew Subset, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .header-fC3 .auto-group-9abq-4jy .auto-group-ztcx-6As {
  margin-right: 0.1205rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .header-fC3 .auto-group-9abq-4jy .auto-group-ztcx-6As .miscellaneous-EH5 {
  margin-right: 3.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffc712;
  font-family: Arimo Hebrew Subset, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .header-fC3 .auto-group-9abq-4jy .auto-group-ztcx-6As .items-wxB {
  margin-right: 3.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffc712;
  font-family: Arimo Hebrew Subset, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .header-fC3 .auto-group-9abq-4jy .auto-group-ztcx-6As .discord-5Yb {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #513dcf;
  font-family: Arimo Hebrew Subset, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cauctionxyz-checkout-KXD .section-fb5 .header-fC3 .link-1BM {
  margin-bottom: 9.85rem;
  width: 5.916rem;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ccae4e;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
