
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 251.7rem;
}.cauctionxyz-miscellaneous-zBq {
  width: 100%;
  height: 650rem;
  background-color: #1c1c1c;
}
.cauctionxyz-miscellaneous-zBq .section-MwV {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #242424;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .background-Edu {
  width: 192rem;
  height: 650rem;
  position: absolute;
  left: 29.85rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .heading-2-items-K9Z {
  width: 47.1rem;
  height: 6.5rem;
  position: absolute;
  left: 102.35rem;
  top: 21.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6.5rem;
  font-weight: 400;
  line-height: 1;
  color: #fcbd0f;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .divdivider-4mM {
  width: 91.4rem;
  height: 0.2rem;
  position: absolute;
  left: 80.15rem;
  top: 28.707rem;
  border: solid 0.1rem #ccae4e;
  box-sizing: border-box;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .legendary-talisman-bundle-MVZ {
  width: 160.3rem;
  height: 80.6rem;
  position: absolute;
  left: 0;
  top: 48.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .legendary-talisman-bundle-MVZ .legendary-talisman-bundle-text-dhy {
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
  color: #ff7a00;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .legendary-talisman-bundle-MVZ .legendary-talisman-bundle-text-dhy .legendary-talisman-bundle-text-dhy-sub-0 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  color: #ffa800;
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .legendary-talisman-bundle-MVZ .legendary-talisman-bundle-text-dhy .legendary-talisman-bundle-text-dhy-sub-1 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
  color: #ffe500;
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .legendary-talisman-bundle-MVZ .auto-group-bj6f-R3V {
  box-sizing: border-box;
  padding: 4.9rem 55.15rem 0rem 50.95rem;
  width: 100%;
  row-gap: 1.75rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .legendary-talisman-bundle-MVZ .auto-group-bj6f-R3V .legendary-talisman-bundle-image-UXZ {
  width: 54.2rem;
  height: 54.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .legendary-talisman-bundle-MVZ .auto-group-bj6f-R3V .legendary-talisman-bundle-price-mmZ {
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .legendary-talisman-bundle-MVZ .auto-group-bj6f-R3V .legendary-talisman-bundle-price-mmZ .legendary-talisman-bundle-price-mmZ-sub-0 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1;
  text-decoration-line: line-through;
  color: #ff0000;
  font-family: Lato, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .legendary-talisman-bundle-MVZ .auto-group-bj6f-R3V .legendary-talisman-bundle-price-mmZ .legendary-talisman-bundle-price-mmZ-sub-1 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1;
  color: #ff0000;
  font-family: Lato, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .legendary-talisman-bundle-MVZ .auto-group-bj6f-R3V .legendary-talisman-bundle-price-mmZ .legendary-talisman-bundle-price-mmZ-sub-2 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1;
  color: #4bc648;
  font-family: Lato, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .legendary-talisman-bundle-MVZ .auto-group-bj6f-R3V .legendary-talisman-bundle-purchase-MNP {
  margin: 0rem 6.45rem 0rem 6.75rem;
  width: calc(100% - 13.2rem);
  height: 7.2rem;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .legendary-talisman-bundle-MVZ .auto-group-bj6f-R3V .legendary-talisman-bundle-purchase-MNP .button-ra3 {
  margin-bottom: 0.4rem;
  width: 100%;
  height: 6.8rem;
  overflow: hidden;
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  box-shadow: 0 0.7rem 2.1rem rgba(37, 44, 97, 0.200000003), 0 0.3rem 0.8rem rgba(136, 144, 194, 0.25);
  background-color: #ffaa00;
  border-radius: 0.4rem;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .bedrock-hcb {
  width: 54.2rem;
  height: 85.1rem;
  position: absolute;
  left: 48.85rem;
  top: 312.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .bedrock-hcb .bedrock-text-agP {
  margin: 0rem 0rem 3.8rem 4.6rem;
  max-width: 49.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  color: #ffa800;
  font-family: Luckiest Guy, 'Source Sans Pro';
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .bedrock-hcb .bedrock-text-agP .bedrock-text-agP-sub-0 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  color: #7d7d7d;
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .bedrock-hcb .bedrock-text-agP .bedrock-text-agP-sub-1 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .bedrock-hcb .bedrock-text-agP .bedrock-text-agP-sub-2 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  color: #7d7d7d;
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .bedrock-hcb .bedrock-text-agP .bedrock-text-agP-sub-3 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .bedrock-hcb .bedrock-text-agP .bedrock-text-agP-sub-4 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  color: #7d7d7d;
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .bedrock-hcb .bedrock-text-agP .bedrock-text-agP-sub-5 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  color: #6e0b0b;
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .bedrock-hcb .bedrock-image-Vio {
  margin-bottom: 1.75rem;
  width: 54.2rem;
  height: 54.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .bedrock-hcb .bedrock-price-RsM {
  margin-bottom: 1.35rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .bedrock-hcb .bedrock-price-RsM .bedrock-price-RsM-sub-0 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1;
  text-decoration-line: line-through;
  color: #ff0000;
  font-family: Lato, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .bedrock-hcb .bedrock-price-RsM .bedrock-price-RsM-sub-1 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1;
  color: #ff0000;
  font-family: Lato, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .bedrock-hcb .bedrock-price-RsM .bedrock-price-RsM-sub-2 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1;
  color: #4bc648;
  font-family: Lato, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .bedrock-hcb .bedrock-purchase-cKZ {
  margin: 0 6.6rem;
  width: calc(100% - 13.2rem);
  height: 7.2rem;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .bedrock-hcb .bedrock-purchase-cKZ .button-kgf {
  margin-bottom: 0.4rem;
  width: 100%;
  height: 6.8rem;
  overflow: hidden;
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  box-shadow: 0 0.7rem 2.1rem rgba(37, 44, 97, 0.200000003), 0 0.3rem 0.8rem rgba(136, 144, 194, 0.25);
  background-color: #ffaa00;
  border-radius: 0.4rem;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .bedrock-barrier-bundle-kq5 {
  width: 71.8447rem;
  height: 102.6661rem;
  position: absolute;
  left: 85.1572rem;
  top: 404.4238rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .bedrock-barrier-bundle-kq5 .bedrock-barrier-text-fBM {
  margin: 0rem 0rem 7.024rem 9.541rem;
  max-width: 56.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  color: #ffa800;
  font-family: Luckiest Guy, 'Source Sans Pro';
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .bedrock-barrier-bundle-kq5 .bedrock-barrier-text-fBM .bedrock-barrier-text-fBM-sub-0 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  color: #7d7d7d;
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .bedrock-barrier-bundle-kq5 .bedrock-barrier-text-fBM .bedrock-barrier-text-fBM-sub-1 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .bedrock-barrier-bundle-kq5 .bedrock-barrier-text-fBM .bedrock-barrier-text-fBM-sub-2 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  color: #7d7d7d;
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .bedrock-barrier-bundle-kq5 .bedrock-barrier-text-fBM .bedrock-barrier-text-fBM-sub-3 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .bedrock-barrier-bundle-kq5 .bedrock-barrier-text-fBM .bedrock-barrier-text-fBM-sub-4 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  color: #7d7d7d;
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .bedrock-barrier-bundle-kq5 .bedrock-barrier-text-fBM .bedrock-barrier-text-fBM-sub-5 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .bedrock-barrier-bundle-kq5 .bedrock-barrier-text-fBM .bedrock-barrier-text-fBM-sub-6 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  color: #7d7d7d;
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .bedrock-barrier-bundle-kq5 .bedrock-barrier-text-fBM .bedrock-barrier-text-fBM-sub-7 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .bedrock-barrier-bundle-kq5 .bedrock-barrier-text-fBM .bedrock-barrier-text-fBM-sub-8 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  color: #7d7d7d;
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .bedrock-barrier-bundle-kq5 .bedrock-barrier-text-fBM .bedrock-barrier-text-fBM-sub-9 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  color: #6e0b0b;
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .bedrock-barrier-bundle-kq5 .auto-group-2d9q-WWj {
  margin-bottom: 1.3642rem;
  width: 100%;
  height: 73.8883rem;
  position: relative;
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .bedrock-barrier-bundle-kq5 .auto-group-2d9q-WWj .bedrock-barrier-price-e79 {
  width: 31rem;
  height: 4.8rem;
  position: absolute;
  left: 22.7486rem;
  top: 69.0883rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .bedrock-barrier-bundle-kq5 .auto-group-2d9q-WWj .bedrock-barrier-price-e79 .bedrock-barrier-price-e79-sub-0 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1;
  text-decoration-line: line-through;
  color: #ff0000;
  font-family: Lato, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .bedrock-barrier-bundle-kq5 .auto-group-2d9q-WWj .bedrock-barrier-price-e79 .bedrock-barrier-price-e79-sub-1 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1;
  color: #ff0000;
  font-family: Lato, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .bedrock-barrier-bundle-kq5 .auto-group-2d9q-WWj .bedrock-barrier-price-e79 .bedrock-barrier-price-e79-sub-2 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1;
  color: #4bc648;
  font-family: Lato, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .bedrock-barrier-bundle-kq5 .auto-group-2d9q-WWj .bedrock-barrier-bundle-image-e2b {
  width: 62.3037rem;
  height: 63.1571rem;
  position: absolute;
  left: 9.541rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .bedrock-barrier-bundle-kq5 .auto-group-2d9q-WWj .vector-11-ZfM {
  width: 23.795rem;
  height: 22.4895rem;
  position: absolute;
  left: 0;
  top: 47.6591rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.5rem;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .bedrock-barrier-bundle-kq5 .auto-group-2d9q-WWj .item-20-6QP {
  width: 12.6rem;
  height: 5.6rem;
  position: absolute;
  left: 5.9423rem;
  top: 56.2204rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5.6rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .bedrock-barrier-bundle-kq5 .bedrock-barrier-purchase-yDH {
  margin: 0rem 10.022rem 0rem 14.693rem;
  box-sizing: border-box;
  padding: 0.595rem 3.065rem 0.995rem 3.065rem;
  width: calc(100% - 24.7146rem);
  height: 8.3898rem;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .bedrock-barrier-bundle-kq5 .bedrock-barrier-purchase-yDH .button-z8P {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  box-shadow: 0 0.7rem 2.1rem rgba(37, 44, 97, 0.200000003), 0 0.3rem 0.8rem rgba(136, 144, 194, 0.25);
  background-color: #ffaa00;
  border-radius: 0.4rem;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .barrier-CET {
  width: 54.2rem;
  height: 85.5rem;
  position: absolute;
  left: 142.35rem;
  top: 312.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .barrier-CET .barrier-text-6qd {
  margin: 0rem 0rem 3.8rem 0.4rem;
  max-width: 49.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  color: #ffa800;
  font-family: Luckiest Guy, 'Source Sans Pro';
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .barrier-CET .barrier-text-6qd .barrier-text-6qd-sub-0 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  color: #7d7d7d;
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .barrier-CET .barrier-text-6qd .barrier-text-6qd-sub-1 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .barrier-CET .barrier-text-6qd .barrier-text-6qd-sub-2 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  color: #7d7d7d;
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .barrier-CET .barrier-text-6qd .barrier-text-6qd-sub-3 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .barrier-CET .barrier-text-6qd .barrier-text-6qd-sub-4 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  color: #7d7d7d;
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .barrier-CET .barrier-text-6qd .barrier-text-6qd-sub-5 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  color: #6f0b0b;
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .barrier-CET .barrier-image-dW7 {
  margin-bottom: 1.75rem;
  width: 54.2rem;
  height: 54.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .barrier-CET .barrier-price-AW3 {
  margin: 0rem 4.2rem 1.75rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1;
  color: #4bc648;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .barrier-CET .barrier-purchase-UWj {
  margin: 0 6.6rem;
  width: calc(100% - 13.2rem);
  height: 7.2rem;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .barrier-CET .barrier-purchase-UWj .button-bbM {
  margin-bottom: 0.4rem;
  width: 100%;
  height: 6.8rem;
  overflow: hidden;
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  box-shadow: 0 0.7rem 2.1rem rgba(37, 44, 97, 0.200000003), 0 0.3rem 0.8rem rgba(136, 144, 194, 0.25);
  background-color: #ffaa00;
  border-radius: 0.4rem;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .mythical-talisman-bundle-AH5 {
  width: 160.3rem;
  height: 80.6rem;
  position: absolute;
  left: 91.4rem;
  top: 48.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .mythical-talisman-bundle-AH5 .mythical-talisman-bundle-text-fjd {
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
  color: #ff7a00;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .mythical-talisman-bundle-AH5 .mythical-talisman-bundle-text-fjd .mythical-talisman-bundle-text-fjd-sub-0 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  color: #ff00c6;
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .mythical-talisman-bundle-AH5 .mythical-talisman-bundle-text-fjd .mythical-talisman-bundle-text-fjd-sub-1 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
  color: #f705a5;
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .mythical-talisman-bundle-AH5 .auto-group-cnb9-8md {
  box-sizing: border-box;
  padding: 4.9rem 55.15rem 0rem 50.95rem;
  width: 100%;
  row-gap: 1.75rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .mythical-talisman-bundle-AH5 .auto-group-cnb9-8md .mythical-talisman-bundle-image-Rkj {
  width: 54.2rem;
  height: 54.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .mythical-talisman-bundle-AH5 .auto-group-cnb9-8md .mythical-talisman-bundle-price-Y4f {
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .mythical-talisman-bundle-AH5 .auto-group-cnb9-8md .mythical-talisman-bundle-price-Y4f .mythical-talisman-bundle-price-Y4f-sub-0 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1;
  text-decoration-line: line-through;
  color: #ff0000;
  font-family: Lato, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .mythical-talisman-bundle-AH5 .auto-group-cnb9-8md .mythical-talisman-bundle-price-Y4f .mythical-talisman-bundle-price-Y4f-sub-1 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1;
  color: #ff0000;
  font-family: Lato, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .mythical-talisman-bundle-AH5 .auto-group-cnb9-8md .mythical-talisman-bundle-price-Y4f .mythical-talisman-bundle-price-Y4f-sub-2 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1;
  color: #4bc648;
  font-family: Lato, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .mythical-talisman-bundle-AH5 .auto-group-cnb9-8md .mythical-talisman-bundle-purchase-aQf {
  margin: 0rem 6.45rem 0rem 6.75rem;
  width: calc(100% - 13.2rem);
  height: 7.2rem;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .mythical-talisman-bundle-AH5 .auto-group-cnb9-8md .mythical-talisman-bundle-purchase-aQf .button-687 {
  margin-bottom: 0.4rem;
  width: 100%;
  height: 6.8rem;
  overflow: hidden;
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  box-shadow: 0 0.7rem 2.1rem rgba(37, 44, 97, 0.200000003), 0 0.3rem 0.8rem rgba(136, 144, 194, 0.25);
  background-color: #ff00e5;
  border-radius: 0.4rem;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .mega-accessory-bundle-TMy {
  width: 160.8rem;
  height: 230.4rem;
  position: absolute;
  left: 45.3rem;
  top: 58.1rem;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .mega-accessory-bundle-TMy .mega-accessory-bundle-price-mNf {
  width: 36.5rem;
  height: 4.8rem;
  position: absolute;
  left: 62.3rem;
  top: 176.55rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .mega-accessory-bundle-TMy .mega-accessory-bundle-price-mNf .mega-accessory-bundle-price-mNf-sub-0 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1;
  text-decoration-line: line-through;
  color: #ff0000;
  font-family: Lato, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .mega-accessory-bundle-TMy .mega-accessory-bundle-price-mNf .mega-accessory-bundle-price-mNf-sub-1 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1;
  color: #ff0000;
  font-family: Lato, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .mega-accessory-bundle-TMy .mega-accessory-bundle-price-mNf .mega-accessory-bundle-price-mNf-sub-2 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1;
  color: #4bc648;
  font-family: Lato, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .mega-accessory-bundle-TMy .mega-accessory-bundle-image-MkB {
  width: 122.7rem;
  height: 61.8rem;
  position: absolute;
  left: 19.15rem;
  top: 109.5rem;
  object-fit: cover;
  vertical-align: top;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .mega-accessory-bundle-TMy .mega-accessory-bundle-purchase-sTd {
  width: 41rem;
  height: 7.2rem;
  position: absolute;
  left: 59.85rem;
  top: 183.1rem;
  border-radius: 0.5rem;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .mega-accessory-bundle-TMy .mega-accessory-bundle-purchase-sTd .button-Mtb {
  margin-bottom: 0.4rem;
  width: 100%;
  height: 6.8rem;
  overflow: hidden;
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #ffc0c0;
  font-family: Lato, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #830808;
  box-sizing: border-box;
  box-shadow: 0 0.7rem 2.1rem rgba(37, 44, 97, 0.200000003), 0 0.3rem 0.8rem rgba(136, 144, 194, 0.25);
  background-color: #820707;
  border-radius: 0.4rem;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .mega-accessory-bundle-TMy .mythical-talisman-bundle-text-yf5 {
  width: 69.6rem;
  height: 9rem;
  position: absolute;
  left: 45.75rem;
  top: 98.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  color: #ff0000;
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .mega-accessory-bundle-TMy .mythical-talisman-bundle-text-yf5 .mythical-talisman-bundle-text-yf5-sub-0 {
}
.cauctionxyz-miscellaneous-zBq .section-MwV .mega-accessory-bundle-TMy .mythical-talisman-bundle-text-yf5 .mythical-talisman-bundle-text-yf5-sub-1 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
  color: #a10000;
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .mega-accessory-bundle-TMy .auto-group-qyuw-KcT {
  width: 112.85rem;
  height: 3rem;
  position: absolute;
  left: 29rem;
  top: 172.3rem;
  display: flex;
  align-items: center;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .mega-accessory-bundle-TMy .auto-group-qyuw-KcT .b-coin-value-EjR {
  margin-right: 53.45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
  color: rgba(255, 153, 0, 0.3000000119);
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .mega-accessory-bundle-TMy .auto-group-qyuw-KcT .no-soul-bound-accessories-jAP {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
  color: rgba(255, 153, 0, 0.3000000119);
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .mega-accessory-bundle-TMy .arrow-2-dFm {
  width: 0.189rem;
  height: 91.2rem;
  position: absolute;
  left: 80.35rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .mega-accessory-bundle-TMy .this-insane-one-of-a-kind-deal-is-only-sold-at-cs-auction-no-other-store-offers-this-incredible-product-gain-nearly-9-billion-coins-instantly-as-well-as-over-1000-magical-power-allowing-you-to-do-insane-amounts-of-damage-acquire-a-bunch-of-health-intelligence-attack-speed-and-more-quickly-advance-past-a-dull-stage-of-the-game-and-become-a-late-game-player-thanks-to-this-deal-details-will-be-discussed-after-purchase-ultra-secure-method-0-ban-chance-9zo {
  width: 160.8rem;
  height: 37rem;
  position: absolute;
  left: 0;
  top: 193.4rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
  color: rgba(255, 255, 255, 0.150000006);
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .mega-accessory-bundle-TMy .this-insane-one-of-a-kind-deal-is-only-sold-at-cs-auction-no-other-store-offers-this-incredible-product-gain-nearly-9-billion-coins-instantly-as-well-as-over-1000-magical-power-allowing-you-to-do-insane-amounts-of-damage-acquire-a-bunch-of-health-intelligence-attack-speed-and-more-quickly-advance-past-a-dull-stage-of-the-game-and-become-a-late-game-player-thanks-to-this-deal-details-will-be-discussed-after-purchase-ultra-secure-method-0-ban-chance-9zo .this-insane-one-of-a-kind-deal-is-only-sold-at-cs-auction-no-other-store-offers-this-incredible-product-gain-nearly-9-billion-coins-instantly-as-well-as-over-1000-magical-power-allowing-you-to-do-insane-amounts-of-damage-acquire-a-bunch-of-health-intelligence-attack-speed-and-more-quickly-advance-past-a-dull-stage-of-the-game-and-become-a-late-game-player-thanks-to-this-deal-details-will-be-discussed-after-purchase-ultra-secure-method-0-ban-chance-9zo-sub-0 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1;
  color: rgba(255, 255, 255, 0.3000000119);
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .mega-accessory-bundle-TMy .this-insane-one-of-a-kind-deal-is-only-sold-at-cs-auction-no-other-store-offers-this-incredible-product-gain-nearly-9-billion-coins-instantly-as-well-as-over-1000-magical-power-allowing-you-to-do-insane-amounts-of-damage-acquire-a-bunch-of-health-intelligence-attack-speed-and-more-quickly-advance-past-a-dull-stage-of-the-game-and-become-a-late-game-player-thanks-to-this-deal-details-will-be-discussed-after-purchase-ultra-secure-method-0-ban-chance-9zo .this-insane-one-of-a-kind-deal-is-only-sold-at-cs-auction-no-other-store-offers-this-incredible-product-gain-nearly-9-billion-coins-instantly-as-well-as-over-1000-magical-power-allowing-you-to-do-insane-amounts-of-damage-acquire-a-bunch-of-health-intelligence-attack-speed-and-more-quickly-advance-past-a-dull-stage-of-the-game-and-become-a-late-game-player-thanks-to-this-deal-details-will-be-discussed-after-purchase-ultra-secure-method-0-ban-chance-9zo-sub-1 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1;
  color: rgba(255, 255, 255, 0.150000006);
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .mega-accessory-bundle-TMy .this-insane-one-of-a-kind-deal-is-only-sold-at-cs-auction-no-other-store-offers-this-incredible-product-gain-nearly-9-billion-coins-instantly-as-well-as-over-1000-magical-power-allowing-you-to-do-insane-amounts-of-damage-acquire-a-bunch-of-health-intelligence-attack-speed-and-more-quickly-advance-past-a-dull-stage-of-the-game-and-become-a-late-game-player-thanks-to-this-deal-details-will-be-discussed-after-purchase-ultra-secure-method-0-ban-chance-9zo .this-insane-one-of-a-kind-deal-is-only-sold-at-cs-auction-no-other-store-offers-this-incredible-product-gain-nearly-9-billion-coins-instantly-as-well-as-over-1000-magical-power-allowing-you-to-do-insane-amounts-of-damage-acquire-a-bunch-of-health-intelligence-attack-speed-and-more-quickly-advance-past-a-dull-stage-of-the-game-and-become-a-late-game-player-thanks-to-this-deal-details-will-be-discussed-after-purchase-ultra-secure-method-0-ban-chance-9zo-sub-2 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1;
  color: rgba(255, 255, 255, 0.3000000119);
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .mega-accessory-bundle-TMy .this-insane-one-of-a-kind-deal-is-only-sold-at-cs-auction-no-other-store-offers-this-incredible-product-gain-nearly-9-billion-coins-instantly-as-well-as-over-1000-magical-power-allowing-you-to-do-insane-amounts-of-damage-acquire-a-bunch-of-health-intelligence-attack-speed-and-more-quickly-advance-past-a-dull-stage-of-the-game-and-become-a-late-game-player-thanks-to-this-deal-details-will-be-discussed-after-purchase-ultra-secure-method-0-ban-chance-9zo .this-insane-one-of-a-kind-deal-is-only-sold-at-cs-auction-no-other-store-offers-this-incredible-product-gain-nearly-9-billion-coins-instantly-as-well-as-over-1000-magical-power-allowing-you-to-do-insane-amounts-of-damage-acquire-a-bunch-of-health-intelligence-attack-speed-and-more-quickly-advance-past-a-dull-stage-of-the-game-and-become-a-late-game-player-thanks-to-this-deal-details-will-be-discussed-after-purchase-ultra-secure-method-0-ban-chance-9zo-sub-3 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .mega-accessory-bundle-TMy .this-insane-one-of-a-kind-deal-is-only-sold-at-cs-auction-no-other-store-offers-this-incredible-product-gain-nearly-9-billion-coins-instantly-as-well-as-over-1000-magical-power-allowing-you-to-do-insane-amounts-of-damage-acquire-a-bunch-of-health-intelligence-attack-speed-and-more-quickly-advance-past-a-dull-stage-of-the-game-and-become-a-late-game-player-thanks-to-this-deal-details-will-be-discussed-after-purchase-ultra-secure-method-0-ban-chance-9zo .this-insane-one-of-a-kind-deal-is-only-sold-at-cs-auction-no-other-store-offers-this-incredible-product-gain-nearly-9-billion-coins-instantly-as-well-as-over-1000-magical-power-allowing-you-to-do-insane-amounts-of-damage-acquire-a-bunch-of-health-intelligence-attack-speed-and-more-quickly-advance-past-a-dull-stage-of-the-game-and-become-a-late-game-player-thanks-to-this-deal-details-will-be-discussed-after-purchase-ultra-secure-method-0-ban-chance-9zo-sub-4 {
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
  color: rgba(156, 234, 159, 0.6999999881);
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .mega-accessory-bundle-TMy .this-insane-one-of-a-kind-deal-is-only-sold-at-cs-auction-no-other-store-offers-this-incredible-product-gain-nearly-9-billion-coins-instantly-as-well-as-over-1000-magical-power-allowing-you-to-do-insane-amounts-of-damage-acquire-a-bunch-of-health-intelligence-attack-speed-and-more-quickly-advance-past-a-dull-stage-of-the-game-and-become-a-late-game-player-thanks-to-this-deal-details-will-be-discussed-after-purchase-ultra-secure-method-0-ban-chance-9zo .this-insane-one-of-a-kind-deal-is-only-sold-at-cs-auction-no-other-store-offers-this-incredible-product-gain-nearly-9-billion-coins-instantly-as-well-as-over-1000-magical-power-allowing-you-to-do-insane-amounts-of-damage-acquire-a-bunch-of-health-intelligence-attack-speed-and-more-quickly-advance-past-a-dull-stage-of-the-game-and-become-a-late-game-player-thanks-to-this-deal-details-will-be-discussed-after-purchase-ultra-secure-method-0-ban-chance-9zo-sub-5 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: rgba(255, 255, 255, 0.200000003);
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .header-o19 {
  box-sizing: border-box;
  padding: 3rem 1.784rem 2.909rem 77.55rem;
  width: 192rem;
  height: 18.559rem;
  position: absolute;
  left: 29.85rem;
  top: 0;
  display: flex;
  align-items: center;
  background-color: rgba(28, 28, 28, 0.75);
}
.cauctionxyz-miscellaneous-zBq .section-MwV .header-o19 .coins-czB {
  margin: 10.55rem 0.021rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffc712;
  font-family: Arimo Hebrew Subset, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .header-o19 .auto-group-3afr-Jc7 {
  margin: 2.43rem 73.429rem 0rem 0rem;
  width: 29.4rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .header-o19 .auto-group-3afr-Jc7 .link-heading-1-cs-auction-1WX {
  margin-bottom: 0.52rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.2575;
  font-family: Arimo Hebrew Subset, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .header-o19 .auto-group-3afr-Jc7 .auto-group-xgjz-me7 {
  margin-right: 0.1205rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .header-o19 .auto-group-3afr-Jc7 .auto-group-xgjz-me7 .miscellaneous-Tmq {
  margin-right: 3.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffc712;
  font-family: Arimo Hebrew Subset, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .header-o19 .auto-group-3afr-Jc7 .auto-group-xgjz-me7 .items-mGj {
  margin-right: 3.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffc712;
  font-family: Arimo Hebrew Subset, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .header-o19 .auto-group-3afr-Jc7 .auto-group-xgjz-me7 .discord-VCj {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #513dcf;
  font-family: Arimo Hebrew Subset, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .header-o19 .link-DPd {
  margin-bottom: 9.85rem;
  width: 5.916rem;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ccae4e;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .sell-coins-heading-sUB {
  width: 137.2924rem;
  height: 82.6rem;
  position: absolute;
  left: 54.2576rem;
  top: 530rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .sell-coins-heading-sUB .auto-group-e6kr-Bjm {
  box-sizing: border-box;
  padding: 0rem 2rem 1.55rem 7.392rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .sell-coins-heading-sUB .auto-group-e6kr-Bjm .heading-2-sell-misc-hCK {
  margin-bottom: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1;
  color: #e37611;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .sell-coins-heading-sUB .auto-group-e6kr-Bjm .divdivider-Abh {
  margin: 0rem 18.1rem 1.45rem 18.4rem;
  width: calc(100% - 36.5rem);
  height: 0.2rem;
  border: solid 0.1rem #ccae4e;
  box-sizing: border-box;
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .sell-coins-heading-sUB .auto-group-e6kr-Bjm .we-are-always-looking-to-buy-your-items-fHZ {
  margin-left: 1.6rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1;
  color: #e4d760;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .sell-coins-heading-sUB .auto-group-e6kr-Bjm .we-are-always-looking-to-buy-your-items-fHZ .we-are-always-looking-to-buy-your-items-fHZ-sub-0 {
}
.cauctionxyz-miscellaneous-zBq .section-MwV .sell-coins-heading-sUB .auto-group-e6kr-Bjm .we-are-always-looking-to-buy-your-items-fHZ .we-are-always-looking-to-buy-your-items-fHZ-sub-1 {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1;
  text-decoration-line: underline;
  color: #e4d760;
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .sell-coins-heading-sUB .auto-group-e6kr-Bjm .we-are-always-looking-to-buy-your-items-fHZ .we-are-always-looking-to-buy-your-items-fHZ-sub-2 {
}
.cauctionxyz-miscellaneous-zBq .section-MwV .sell-coins-heading-sUB .auto-group-puew-bqR {
  width: 100%;
  height: 44.5rem;
  position: relative;
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .sell-coins-heading-sUB .auto-group-puew-bqR .join-the-discord-and-open-a-ticket-to-sell-us-your-best-items-0025-million-ie-item-worth-100m-250-minimum-item-value-100-million-coins-wuH {
  width: 108rem;
  height: 24rem;
  position: absolute;
  left: 17.4424rem;
  top: 0;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1;
  color: #ebeca9;
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .sell-coins-heading-sUB .auto-group-puew-bqR .join-the-discord-and-open-a-ticket-to-sell-us-your-best-items-0025-million-ie-item-worth-100m-250-minimum-item-value-100-million-coins-wuH .join-the-discord-and-open-a-ticket-to-sell-us-your-best-items-0025-million-ie-item-worth-100m-250-minimum-item-value-100-million-coins-wuH-sub-0 {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1;
  color: #f1a762;
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .sell-coins-heading-sUB .auto-group-puew-bqR .join-the-discord-and-open-a-ticket-to-sell-us-your-best-items-0025-million-ie-item-worth-100m-250-minimum-item-value-100-million-coins-wuH .join-the-discord-and-open-a-ticket-to-sell-us-your-best-items-0025-million-ie-item-worth-100m-250-minimum-item-value-100-million-coins-wuH-sub-1 {
}
.cauctionxyz-miscellaneous-zBq .section-MwV .sell-coins-heading-sUB .auto-group-puew-bqR .join-the-discord-and-open-a-ticket-to-sell-us-your-best-items-0025-million-ie-item-worth-100m-250-minimum-item-value-100-million-coins-wuH .join-the-discord-and-open-a-ticket-to-sell-us-your-best-items-0025-million-ie-item-worth-100m-250-minimum-item-value-100-million-coins-wuH-sub-2 {
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1;
  color: #05ff00;
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .sell-coins-heading-sUB .auto-group-puew-bqR .join-the-discord-and-open-a-ticket-to-sell-us-your-best-items-0025-million-ie-item-worth-100m-250-minimum-item-value-100-million-coins-wuH .join-the-discord-and-open-a-ticket-to-sell-us-your-best-items-0025-million-ie-item-worth-100m-250-minimum-item-value-100-million-coins-wuH-sub-3 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1;
  color: #159b12;
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .sell-coins-heading-sUB .auto-group-puew-bqR .join-the-discord-and-open-a-ticket-to-sell-us-your-best-items-0025-million-ie-item-worth-100m-250-minimum-item-value-100-million-coins-wuH .join-the-discord-and-open-a-ticket-to-sell-us-your-best-items-0025-million-ie-item-worth-100m-250-minimum-item-value-100-million-coins-wuH-sub-4 {
}
.cauctionxyz-miscellaneous-zBq .section-MwV .sell-coins-heading-sUB .auto-group-puew-bqR .join-the-discord-and-open-a-ticket-to-sell-us-your-best-items-0025-million-ie-item-worth-100m-250-minimum-item-value-100-million-coins-wuH .join-the-discord-and-open-a-ticket-to-sell-us-your-best-items-0025-million-ie-item-worth-100m-250-minimum-item-value-100-million-coins-wuH-sub-5 {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1;
  color: #abeca9;
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .sell-coins-heading-sUB .auto-group-puew-bqR .join-the-discord-and-open-a-ticket-to-sell-us-your-best-items-0025-million-ie-item-worth-100m-250-minimum-item-value-100-million-coins-wuH .join-the-discord-and-open-a-ticket-to-sell-us-your-best-items-0025-million-ie-item-worth-100m-250-minimum-item-value-100-million-coins-wuH-sub-6 {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1;
  color: #ffb700;
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .sell-coins-heading-sUB .auto-group-puew-bqR .primary-button-vwZ {
  box-sizing: border-box;
  padding: 2.6rem 7.45rem 0.7rem 7.45rem;
  width: 38.9rem;
  height: 9.7rem;
  position: absolute;
  left: 51.9924rem;
  top: 34.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0 5rem rgba(128, 112, 226, 0.25);
  background-color: #6a5acd;
  border-radius: 0.6rem;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .sell-coins-heading-sUB .auto-group-puew-bqR .line-1-6jZ {
  width: 48.0924rem;
  height: 9.3494rem;
  position: absolute;
  left: 0;
  top: 29.4506rem;
  object-fit: contain;
  vertical-align: top;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .sell-coins-heading-sUB .auto-group-puew-bqR .line-2-dzP {
  width: 44.1rem;
  height: 20rem;
  position: absolute;
  left: 93.1924rem;
  top: 14.8rem;
  object-fit: contain;
  vertical-align: top;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .sell-coins-heading-sUB .auto-group-qobd-mao {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .sell-coins-heading-sUB .auto-group-qobd-mao .line-4-X4B {
  margin: 2rem 4.5rem 0rem 0rem;
  width: 33.9rem;
  height: 7.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .sell-coins-heading-sUB .auto-group-qobd-mao .or-contact-wwwcowcom-on-discord-eeb {
  margin: 4.4rem 2.9rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  color: #c5bfeb;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .sell-coins-heading-sUB .auto-group-qobd-mao .line-3-jvw {
  width: 44.1rem;
  height: 23.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .footer-Trw {
  width: 192rem;
  height: 10rem;
  position: absolute;
  left: 29.85rem;
  top: 640rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ccae4e;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  background-color: rgba(28, 28, 28, 0.8000000119);
}
.cauctionxyz-miscellaneous-zBq .section-MwV .footer-Trw .footer-Trw-sub-0 {
}
.cauctionxyz-miscellaneous-zBq .section-MwV .footer-Trw .footer-Trw-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #738adb;
  font-family: Arial, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .questions-comments-join-the-discord-usM {
  width: 125.5rem;
  height: 6.4rem;
  position: absolute;
  left: 61.3rem;
  top: 633.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1;
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .notice-we-are-not-for-anything-after-sale-zto {
  width: 135.3rem;
  height: 6.4rem;
  position: absolute;
  left: 58.15rem;
  top: 620.9rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1;
  color: rgba(255, 255, 255, 0.25);
  font-family: Luckiest Guy, 'Source Sans Pro';
  white-space: nowrap;
}
.cauctionxyz-miscellaneous-zBq .section-MwV .notice-we-are-not-for-anything-after-sale-zto .notice-we-are-not-for-anything-after-sale-zto-sub-0 {
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1;
  color: rgba(255, 255, 255, 0.25);
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .notice-we-are-not-for-anything-after-sale-zto .notice-we-are-not-for-anything-after-sale-zto-sub-1 {
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  text-decoration-line: underline;
  color: rgba(255, 255, 255, 0.25);
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .notice-we-are-not-for-anything-after-sale-zto .notice-we-are-not-for-anything-after-sale-zto-sub-2 {
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1;
  color: rgba(255, 255, 255, 0.25);
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .notice-we-are-not-for-anything-after-sale-zto .notice-we-are-not-for-anything-after-sale-zto-sub-3 {
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1;
  text-decoration-line: underline;
  color: rgba(255, 255, 255, 0.25);
  font-family: Luckiest Guy, 'Source Sans Pro';
}
.cauctionxyz-miscellaneous-zBq .section-MwV .notice-we-are-not-for-anything-after-sale-zto .notice-we-are-not-for-anything-after-sale-zto-sub-4 {
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1;
  color: rgba(255, 255, 255, 0.25);
  font-family: Luckiest Guy, 'Source Sans Pro';
}
