
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 251.7rem;
}.cauctionxyz-miscellaneous-zBq {
  background-color: #1c1c1c;
  width: 100%;
  height: 650rem;

  .section-MwV {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #242424;

    .background-Edu {
      object-fit: cover;
      vertical-align: top;
      width: 192rem;
      height: 650rem;
      position: absolute;
      left: 29.85rem;
      top: 0;
    }
    .heading-2-items-K9Z {
      white-space: nowrap;
      font-size: 6.5rem;
      line-height: 1;
      color: #fcbd0f;
      height: 6.5rem;
      top: 21.8rem;
      justify-content: center;
      font-family: Luckiest Guy, 'Source Sans Pro';
      width: 47.1rem;
      align-items: center;
      display: flex;
      font-weight: 400;
      position: absolute;
      left: 102.35rem;
    }
    .divdivider-4mM {
      height: 0.2rem;
      position: absolute;
      left: 80.15rem;
      top: 28.707rem;
      border: solid 0.1rem #ccae4e;
      box-sizing: border-box;
      width: 91.4rem;
    }
    .legendary-talisman-bundle-MVZ {
      flex-direction: column;
      width: 160.3rem;
      height: 80.6rem;
      position: absolute;
      left: 0;
      top: 48.3rem;
      align-items: center;
      display: flex;

      .legendary-talisman-bundle-text-dhy {
        font-family: Luckiest Guy, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        justify-content: center;
        font-size: 3rem;
        font-weight: 400;
        align-items: baseline;
        line-height: 1;
        color: #ff7a00;
        flex-shrink: 0;

        .legendary-talisman-bundle-text-dhy-sub-0 {
          color: #ffa800;
          font-family: Luckiest Guy, 'Source Sans Pro';
          font-size: 6rem;
          font-weight: 400;
          line-height: 1;
        }
        .legendary-talisman-bundle-text-dhy-sub-1 {
          font-size: 3rem;
          font-weight: 400;
          line-height: 1;
          color: #ffe500;
          font-family: Luckiest Guy, 'Source Sans Pro';
        }
      }
      .auto-group-bj6f-R3V {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 4.9rem 55.15rem 0rem 50.95rem;
        width: 100%;
        row-gap: 1.75rem;

        .legendary-talisman-bundle-image-UXZ {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 54.2rem;
          height: 54.2rem;
        }
        .legendary-talisman-bundle-price-mmZ {
          font-family: Lato, 'Source Sans Pro';
          flex-shrink: 0;
          justify-content: center;
          font-size: 4.8rem;
          color: #ffffff;
          line-height: 1;
          white-space: nowrap;
          display: flex;
          align-items: baseline;
          font-weight: 700;

          .legendary-talisman-bundle-price-mmZ-sub-0 {
            font-family: Lato, 'Source Sans Pro';
            font-size: 4.8rem;
            font-weight: 700;
            line-height: 1;
            text-decoration-line: line-through;
            color: #ff0000;
          }
          .legendary-talisman-bundle-price-mmZ-sub-1 {
            font-weight: 700;
            line-height: 1;
            color: #ff0000;
            font-family: Lato, 'Source Sans Pro';
            font-size: 4.8rem;
          }
          .legendary-talisman-bundle-price-mmZ-sub-2 {
            font-size: 4.8rem;
            font-weight: 700;
            line-height: 1;
            color: #4bc648;
            font-family: Lato, 'Source Sans Pro';
          }
        }
        .legendary-talisman-bundle-purchase-MNP {
          margin: 0rem 6.45rem 0rem 6.75rem;
          width: calc(100% - 13.2rem);
          height: 7.2rem;
          border-radius: 0.5rem;
          flex-shrink: 0;

          .button-ra3 {
            width: 100%;
            font-size: 2rem;
            font-weight: 700;
            display: flex;
            justify-content: center;
            margin-bottom: 0.4rem;
            overflow: hidden;
            line-height: 1;
            white-space: nowrap;
            box-sizing: border-box;
            box-shadow: 0 0.7rem 2.1rem rgba(37, 44, 97, 0.200000003), 0 0.3rem 0.8rem rgba(136, 144, 194, 0.25);
            background-color: #ffaa00;
            color: #ffffff;
            font-family: Lato, 'Source Sans Pro';
            border: solid 0.1rem #000000;
            height: 6.8rem;
            position: relative;
            align-items: center;
            border-radius: 0.4rem;
          }
        }
      }
    }
    .bedrock-hcb {
      flex-direction: column;
      width: 54.2rem;
      height: 85.1rem;
      position: absolute;
      left: 48.85rem;
      top: 312.2rem;
      align-items: center;
      display: flex;

      .bedrock-text-agP {
        font-weight: 400;
        color: #ffa800;
        font-family: Luckiest Guy, 'Source Sans Pro';
        flex-shrink: 0;
        display: flex;
        align-items: center;
        font-size: 6rem;
        line-height: 1;
        margin: 0rem 0rem 3.8rem 4.6rem;
        max-width: 49.4rem;
        justify-content: center;

        .bedrock-text-agP-sub-0 {
          font-size: 6rem;
          font-weight: 400;
          line-height: 1;
          color: #7d7d7d;
          font-family: Luckiest Guy, 'Source Sans Pro';
        }
        .bedrock-text-agP-sub-1 {
          font-weight: 400;
          line-height: 1;
          color: #ffffff;
          font-family: Luckiest Guy, 'Source Sans Pro';
          font-size: 6rem;
        }
        .bedrock-text-agP-sub-2 {
          font-size: 6rem;
          font-weight: 400;
          line-height: 1;
          color: #7d7d7d;
          font-family: Luckiest Guy, 'Source Sans Pro';
        }
        .bedrock-text-agP-sub-3 {
          font-weight: 400;
          line-height: 1;
          color: #ffffff;
          font-family: Luckiest Guy, 'Source Sans Pro';
          font-size: 6rem;
        }
        .bedrock-text-agP-sub-4 {
          font-size: 6rem;
          font-weight: 400;
          line-height: 1;
          color: #7d7d7d;
          font-family: Luckiest Guy, 'Source Sans Pro';
        }
        .bedrock-text-agP-sub-5 {
          font-weight: 400;
          line-height: 1;
          color: #6e0b0b;
          font-family: Luckiest Guy, 'Source Sans Pro';
          font-size: 6rem;
        }
      }
      .bedrock-image-Vio {
        margin-bottom: 1.75rem;
        width: 54.2rem;
        height: 54.2rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .bedrock-price-RsM {
        white-space: nowrap;
        margin-bottom: 1.35rem;
        align-items: baseline;
        justify-content: center;
        font-size: 4.8rem;
        line-height: 1;
        color: #ffffff;
        font-family: Lato, 'Source Sans Pro';
        flex-shrink: 0;
        display: flex;
        font-weight: 700;

        .bedrock-price-RsM-sub-0 {
          font-size: 4.8rem;
          font-weight: 700;
          line-height: 1;
          text-decoration-line: line-through;
          color: #ff0000;
          font-family: Lato, 'Source Sans Pro';
        }
        .bedrock-price-RsM-sub-1 {
          color: #ff0000;
          font-family: Lato, 'Source Sans Pro';
          font-size: 4.8rem;
          font-weight: 700;
          line-height: 1;
        }
        .bedrock-price-RsM-sub-2 {
          line-height: 1;
          color: #4bc648;
          font-family: Lato, 'Source Sans Pro';
          font-size: 4.8rem;
          font-weight: 700;
        }
      }
      .bedrock-purchase-cKZ {
        margin: 0 6.6rem;
        width: calc(100% - 13.2rem);
        height: 7.2rem;
        border-radius: 0.5rem;
        flex-shrink: 0;

        .button-kgf {
          justify-content: center;
          background-color: #ffaa00;
          margin-bottom: 0.4rem;
          height: 6.8rem;
          position: relative;
          font-size: 2rem;
          color: #ffffff;
          width: 100%;
          line-height: 1;
          display: flex;
          align-items: center;
          box-sizing: border-box;
          white-space: nowrap;
          box-shadow: 0 0.7rem 2.1rem rgba(37, 44, 97, 0.200000003), 0 0.3rem 0.8rem rgba(136, 144, 194, 0.25);
          overflow: hidden;
          font-weight: 700;
          font-family: Lato, 'Source Sans Pro';
          border: solid 0.1rem #000000;
          border-radius: 0.4rem;
        }
      }
    }
    .bedrock-barrier-bundle-kq5 {
      left: 85.1572rem;
      top: 404.4238rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 71.8447rem;
      height: 102.6661rem;
      position: absolute;

      .bedrock-barrier-text-fBM {
        justify-content: center;
        font-weight: 400;
        line-height: 1;
        color: #ffa800;
        margin: 0rem 0rem 7.024rem 9.541rem;
        max-width: 56.2rem;
        display: flex;
        align-items: center;
        font-size: 6rem;
        font-family: Luckiest Guy, 'Source Sans Pro';
        flex-shrink: 0;

        .bedrock-barrier-text-fBM-sub-0 {
          color: #7d7d7d;
          font-family: Luckiest Guy, 'Source Sans Pro';
          font-size: 6rem;
          font-weight: 400;
          line-height: 1;
        }
        .bedrock-barrier-text-fBM-sub-1 {
          color: #ffffff;
          font-family: Luckiest Guy, 'Source Sans Pro';
          font-size: 6rem;
          font-weight: 400;
          line-height: 1;
        }
        .bedrock-barrier-text-fBM-sub-2 {
          line-height: 1;
          color: #7d7d7d;
          font-family: Luckiest Guy, 'Source Sans Pro';
          font-size: 6rem;
          font-weight: 400;
        }
        .bedrock-barrier-text-fBM-sub-3 {
          font-size: 6rem;
          font-weight: 400;
          line-height: 1;
          color: #ffffff;
          font-family: Luckiest Guy, 'Source Sans Pro';
        }
        .bedrock-barrier-text-fBM-sub-4 {
          line-height: 1;
          color: #7d7d7d;
          font-family: Luckiest Guy, 'Source Sans Pro';
          font-size: 6rem;
          font-weight: 400;
        }
        .bedrock-barrier-text-fBM-sub-5 {
          font-size: 6rem;
          font-weight: 400;
          line-height: 1;
          color: #ffffff;
          font-family: Luckiest Guy, 'Source Sans Pro';
        }
        .bedrock-barrier-text-fBM-sub-6 {
          line-height: 1;
          color: #7d7d7d;
          font-family: Luckiest Guy, 'Source Sans Pro';
          font-size: 6rem;
          font-weight: 400;
        }
        .bedrock-barrier-text-fBM-sub-7 {
          color: #ffffff;
          font-family: Luckiest Guy, 'Source Sans Pro';
          font-size: 6rem;
          font-weight: 400;
          line-height: 1;
        }
        .bedrock-barrier-text-fBM-sub-8 {
          color: #7d7d7d;
          font-family: Luckiest Guy, 'Source Sans Pro';
          font-size: 6rem;
          font-weight: 400;
          line-height: 1;
        }
        .bedrock-barrier-text-fBM-sub-9 {
          font-size: 6rem;
          font-weight: 400;
          line-height: 1;
          color: #6e0b0b;
          font-family: Luckiest Guy, 'Source Sans Pro';
        }
      }
      .auto-group-2d9q-WWj {
        width: 100%;
        height: 73.8883rem;
        position: relative;
        flex-shrink: 0;
        margin-bottom: 1.3642rem;

        .bedrock-barrier-price-e79 {
          height: 4.8rem;
          justify-content: center;
          font-weight: 700;
          color: #ffffff;
          font-family: Lato, 'Source Sans Pro';
          width: 31rem;
          display: flex;
          font-size: 4.8rem;
          white-space: nowrap;
          left: 22.7486rem;
          top: 69.0883rem;
          align-items: baseline;
          line-height: 1;
          position: absolute;

          .bedrock-barrier-price-e79-sub-0 {
            text-decoration-line: line-through;
            color: #ff0000;
            font-family: Lato, 'Source Sans Pro';
            font-size: 4.8rem;
            font-weight: 700;
            line-height: 1;
          }
          .bedrock-barrier-price-e79-sub-1 {
            font-weight: 700;
            line-height: 1;
            color: #ff0000;
            font-family: Lato, 'Source Sans Pro';
            font-size: 4.8rem;
          }
          .bedrock-barrier-price-e79-sub-2 {
            color: #4bc648;
            font-family: Lato, 'Source Sans Pro';
            font-size: 4.8rem;
            font-weight: 700;
            line-height: 1;
          }
        }
        .bedrock-barrier-bundle-image-e2b {
          left: 9.541rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 62.3037rem;
          height: 63.1571rem;
          position: absolute;
        }
        .vector-11-ZfM {
          width: 23.795rem;
          height: 22.4895rem;
          position: absolute;
          left: 0;
          top: 47.6591rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 0.5rem;
        }
        .item-20-6QP {
          color: #ffffff;
          width: 12.6rem;
          left: 5.9423rem;
          justify-content: center;
          font-weight: 400;
          white-space: nowrap;
          position: absolute;
          align-items: center;
          font-size: 5.6rem;
          font-family: Luckiest Guy, 'Source Sans Pro';
          height: 5.6rem;
          top: 56.2204rem;
          display: flex;
          line-height: 1;
        }
      }
      .bedrock-barrier-purchase-yDH {
        margin: 0rem 10.022rem 0rem 14.693rem;
        box-sizing: border-box;
        padding: 0.595rem 3.065rem 0.995rem 3.065rem;
        width: calc(100% - 24.7146rem);
        height: 8.3898rem;
        border-radius: 0.5rem;
        flex-shrink: 0;

        .button-z8P {
          box-shadow: 0 0.7rem 2.1rem rgba(37, 44, 97, 0.200000003), 0 0.3rem 0.8rem rgba(136, 144, 194, 0.25);
          height: 100%;
          position: relative;
          font-size: 2rem;
          font-weight: 700;
          color: #ffffff;
          display: flex;
          width: 100%;
          align-items: center;
          box-sizing: border-box;
          font-family: Lato, 'Source Sans Pro';
          white-space: nowrap;
          background-color: #ffaa00;
          border-radius: 0.4rem;
          overflow: hidden;
          line-height: 1;
          justify-content: center;
          border: solid 0.1rem #000000;
        }
      }
    }
    .barrier-CET {
      top: 312.2rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 54.2rem;
      height: 85.5rem;
      position: absolute;
      left: 142.35rem;

      .barrier-text-6qd {
        max-width: 49.4rem;
        align-items: center;
        flex-shrink: 0;
        color: #ffa800;
        font-family: Luckiest Guy, 'Source Sans Pro';
        margin: 0rem 0rem 3.8rem 0.4rem;
        display: flex;
        justify-content: center;
        font-size: 6rem;
        font-weight: 400;
        line-height: 1;

        .barrier-text-6qd-sub-0 {
          font-family: Luckiest Guy, 'Source Sans Pro';
          font-size: 6rem;
          font-weight: 400;
          line-height: 1;
          color: #7d7d7d;
        }
        .barrier-text-6qd-sub-1 {
          font-size: 6rem;
          font-weight: 400;
          line-height: 1;
          color: #ffffff;
          font-family: Luckiest Guy, 'Source Sans Pro';
        }
        .barrier-text-6qd-sub-2 {
          font-weight: 400;
          line-height: 1;
          color: #7d7d7d;
          font-family: Luckiest Guy, 'Source Sans Pro';
          font-size: 6rem;
        }
        .barrier-text-6qd-sub-3 {
          line-height: 1;
          color: #ffffff;
          font-family: Luckiest Guy, 'Source Sans Pro';
          font-size: 6rem;
          font-weight: 400;
        }
        .barrier-text-6qd-sub-4 {
          font-weight: 400;
          line-height: 1;
          color: #7d7d7d;
          font-family: Luckiest Guy, 'Source Sans Pro';
          font-size: 6rem;
        }
        .barrier-text-6qd-sub-5 {
          line-height: 1;
          color: #6f0b0b;
          font-family: Luckiest Guy, 'Source Sans Pro';
          font-size: 6rem;
          font-weight: 400;
        }
      }
      .barrier-image-dW7 {
        margin-bottom: 1.75rem;
        width: 54.2rem;
        height: 54.2rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .barrier-price-AW3 {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        font-size: 4.8rem;
        line-height: 1;
        color: #4bc648;
        margin: 0rem 4.2rem 1.75rem 0rem;
        justify-content: center;
        font-weight: 700;
        font-family: Lato, 'Source Sans Pro';
        white-space: nowrap;
      }
      .barrier-purchase-UWj {
        flex-shrink: 0;
        margin: 0 6.6rem;
        width: calc(100% - 13.2rem);
        height: 7.2rem;
        border-radius: 0.5rem;

        .button-bbM {
          width: 100%;
          height: 6.8rem;
          font-size: 2rem;
          line-height: 1;
          align-items: center;
          white-space: nowrap;
          box-sizing: border-box;
          margin-bottom: 0.4rem;
          overflow: hidden;
          color: #ffffff;
          font-family: Lato, 'Source Sans Pro';
          display: flex;
          justify-content: center;
          background-color: #ffaa00;
          border-radius: 0.4rem;
          position: relative;
          font-weight: 700;
          border: solid 0.1rem #000000;
          box-shadow: 0 0.7rem 2.1rem rgba(37, 44, 97, 0.200000003), 0 0.3rem 0.8rem rgba(136, 144, 194, 0.25);
        }
      }
    }
    .mythical-talisman-bundle-AH5 {
      left: 91.4rem;
      top: 48.3rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 160.3rem;
      height: 80.6rem;
      position: absolute;

      .mythical-talisman-bundle-text-fjd {
        justify-content: center;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1;
        display: flex;
        align-items: baseline;
        white-space: nowrap;
        flex-shrink: 0;
        color: #ff7a00;
        font-family: Luckiest Guy, 'Source Sans Pro';

        .mythical-talisman-bundle-text-fjd-sub-0 {
          font-size: 6rem;
          font-weight: 400;
          line-height: 1;
          color: #ff00c6;
          font-family: Luckiest Guy, 'Source Sans Pro';
        }
        .mythical-talisman-bundle-text-fjd-sub-1 {
          font-size: 3rem;
          font-weight: 400;
          line-height: 1;
          color: #f705a5;
          font-family: Luckiest Guy, 'Source Sans Pro';
        }
      }
      .auto-group-cnb9-8md {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 4.9rem 55.15rem 0rem 50.95rem;
        width: 100%;
        row-gap: 1.75rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .mythical-talisman-bundle-image-Rkj {
          width: 54.2rem;
          height: 54.2rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .mythical-talisman-bundle-price-Y4f {
          align-items: baseline;
          font-size: 4.8rem;
          color: #ffffff;
          font-family: Lato, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
          font-weight: 700;
          line-height: 1;
          white-space: nowrap;
          justify-content: center;

          .mythical-talisman-bundle-price-Y4f-sub-0 {
            font-size: 4.8rem;
            font-weight: 700;
            line-height: 1;
            text-decoration-line: line-through;
            color: #ff0000;
            font-family: Lato, 'Source Sans Pro';
          }
          .mythical-talisman-bundle-price-Y4f-sub-1 {
            font-weight: 700;
            line-height: 1;
            color: #ff0000;
            font-family: Lato, 'Source Sans Pro';
            font-size: 4.8rem;
          }
          .mythical-talisman-bundle-price-Y4f-sub-2 {
            font-family: Lato, 'Source Sans Pro';
            font-size: 4.8rem;
            font-weight: 700;
            line-height: 1;
            color: #4bc648;
          }
        }
        .mythical-talisman-bundle-purchase-aQf {
          height: 7.2rem;
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin: 0rem 6.45rem 0rem 6.75rem;
          width: calc(100% - 13.2rem);

          .button-687 {
            white-space: nowrap;
            align-items: center;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            width: 100%;
            line-height: 1;
            color: #ffffff;
            margin-bottom: 0.4rem;
            position: relative;
            display: flex;
            box-shadow: 0 0.7rem 2.1rem rgba(37, 44, 97, 0.200000003), 0 0.3rem 0.8rem rgba(136, 144, 194, 0.25);
            border-radius: 0.4rem;
            height: 6.8rem;
            overflow: hidden;
            font-family: Lato, 'Source Sans Pro';
            justify-content: center;
            background-color: #ff00e5;
            font-size: 2rem;
            font-weight: 700;
          }
        }
      }
    }
    .mega-accessory-bundle-TMy {
      position: absolute;
      left: 45.3rem;
      top: 58.1rem;
      width: 160.8rem;
      height: 230.4rem;

      .mega-accessory-bundle-price-mNf {
        display: flex;
        line-height: 1;
        height: 4.8rem;
        position: absolute;
        top: 176.55rem;
        left: 62.3rem;
        font-size: 4.8rem;
        width: 36.5rem;
        align-items: baseline;
        white-space: nowrap;
        font-family: Lato, 'Source Sans Pro';
        justify-content: center;
        font-weight: 700;
        color: #ffffff;

        .mega-accessory-bundle-price-mNf-sub-0 {
          font-size: 4.8rem;
          font-weight: 700;
          line-height: 1;
          text-decoration-line: line-through;
          color: #ff0000;
          font-family: Lato, 'Source Sans Pro';
        }
        .mega-accessory-bundle-price-mNf-sub-1 {
          color: #ff0000;
          font-family: Lato, 'Source Sans Pro';
          font-size: 4.8rem;
          font-weight: 700;
          line-height: 1;
        }
        .mega-accessory-bundle-price-mNf-sub-2 {
          color: #4bc648;
          font-family: Lato, 'Source Sans Pro';
          font-size: 4.8rem;
          font-weight: 700;
          line-height: 1;
        }
      }
      .mega-accessory-bundle-image-MkB {
        left: 19.15rem;
        top: 109.5rem;
        object-fit: cover;
        vertical-align: top;
        width: 122.7rem;
        height: 61.8rem;
        position: absolute;
      }
      .mega-accessory-bundle-purchase-sTd {
        width: 41rem;
        height: 7.2rem;
        position: absolute;
        left: 59.85rem;
        top: 183.1rem;
        border-radius: 0.5rem;

        .button-Mtb {
          font-family: Lato, 'Source Sans Pro';
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 700;
          font-size: 2rem;
          border: solid 0.1rem #830808;
          box-shadow: 0 0.7rem 2.1rem rgba(37, 44, 97, 0.200000003), 0 0.3rem 0.8rem rgba(136, 144, 194, 0.25);
          width: 100%;
          line-height: 1;
          box-sizing: border-box;
          height: 6.8rem;
          overflow: hidden;
          position: relative;
          color: #ffc0c0;
          white-space: nowrap;
          background-color: #820707;
          border-radius: 0.4rem;
          margin-bottom: 0.4rem;
        }
      }
      .mythical-talisman-bundle-text-yf5 {
        width: 69.6rem;
        font-weight: 400;
        font-family: Luckiest Guy, 'Source Sans Pro';
        font-size: 6rem;
        height: 9rem;
        position: absolute;
        left: 45.75rem;
        top: 98.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        color: #ff0000;

        .mythical-talisman-bundle-text-yf5-sub-0 {
        }
        .mythical-talisman-bundle-text-yf5-sub-1 {
          line-height: 1;
          color: #a10000;
          font-family: Luckiest Guy, 'Source Sans Pro';
          font-size: 3rem;
          font-weight: 400;
        }
      }
      .auto-group-qyuw-KcT {
        height: 3rem;
        position: absolute;
        left: 29rem;
        top: 172.3rem;
        display: flex;
        align-items: center;
        width: 112.85rem;

        .b-coin-value-EjR {
          font-size: 3rem;
          font-weight: 400;
          color: rgba(255, 153, 0, 0.3000000119);
          margin-right: 53.45rem;
          justify-content: center;
          line-height: 1;
          font-family: Luckiest Guy, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          align-items: center;
        }
        .no-soul-bound-accessories-jAP {
          display: flex;
          font-weight: 400;
          color: rgba(255, 153, 0, 0.3000000119);
          white-space: nowrap;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          font-size: 3rem;
          line-height: 1;
          font-family: Luckiest Guy, 'Source Sans Pro';
        }
      }
      .arrow-2-dFm {
        object-fit: contain;
        vertical-align: top;
        width: 0.189rem;
        height: 91.2rem;
        position: absolute;
        left: 80.35rem;
        top: 0;
      }
      .this-insane-one-of-a-kind-deal-is-only-sold-at-cs-auction-no-other-store-offers-this-incredible-product-gain-nearly-9-billion-coins-instantly-as-well-as-over-1000-magical-power-allowing-you-to-do-insane-amounts-of-damage-acquire-a-bunch-of-health-intelligence-attack-speed-and-more-quickly-advance-past-a-dull-stage-of-the-game-and-become-a-late-game-player-thanks-to-this-deal-details-will-be-discussed-after-purchase-ultra-secure-method-0-ban-chance-9zo {
        color: rgba(255, 255, 255, 0.150000006);
        position: absolute;
        font-size: 3rem;
        line-height: 1;
        top: 193.4rem;
        text-align: center;
        font-weight: 400;
        font-family: Luckiest Guy, 'Source Sans Pro';
        width: 160.8rem;
        height: 37rem;
        left: 0;

        .this-insane-one-of-a-kind-deal-is-only-sold-at-cs-auction-no-other-store-offers-this-incredible-product-gain-nearly-9-billion-coins-instantly-as-well-as-over-1000-magical-power-allowing-you-to-do-insane-amounts-of-damage-acquire-a-bunch-of-health-intelligence-attack-speed-and-more-quickly-advance-past-a-dull-stage-of-the-game-and-become-a-late-game-player-thanks-to-this-deal-details-will-be-discussed-after-purchase-ultra-secure-method-0-ban-chance-9zo-sub-0 {
          color: rgba(255, 255, 255, 0.3000000119);
          font-family: Luckiest Guy, 'Source Sans Pro';
          font-size: 4rem;
          font-weight: 400;
          line-height: 1;
        }
        .this-insane-one-of-a-kind-deal-is-only-sold-at-cs-auction-no-other-store-offers-this-incredible-product-gain-nearly-9-billion-coins-instantly-as-well-as-over-1000-magical-power-allowing-you-to-do-insane-amounts-of-damage-acquire-a-bunch-of-health-intelligence-attack-speed-and-more-quickly-advance-past-a-dull-stage-of-the-game-and-become-a-late-game-player-thanks-to-this-deal-details-will-be-discussed-after-purchase-ultra-secure-method-0-ban-chance-9zo-sub-1 {
          font-size: 4rem;
          font-weight: 400;
          line-height: 1;
          color: rgba(255, 255, 255, 0.150000006);
          font-family: Luckiest Guy, 'Source Sans Pro';
        }
        .this-insane-one-of-a-kind-deal-is-only-sold-at-cs-auction-no-other-store-offers-this-incredible-product-gain-nearly-9-billion-coins-instantly-as-well-as-over-1000-magical-power-allowing-you-to-do-insane-amounts-of-damage-acquire-a-bunch-of-health-intelligence-attack-speed-and-more-quickly-advance-past-a-dull-stage-of-the-game-and-become-a-late-game-player-thanks-to-this-deal-details-will-be-discussed-after-purchase-ultra-secure-method-0-ban-chance-9zo-sub-2 {
          font-size: 4rem;
          font-weight: 400;
          line-height: 1;
          color: rgba(255, 255, 255, 0.3000000119);
          font-family: Luckiest Guy, 'Source Sans Pro';
        }
        .this-insane-one-of-a-kind-deal-is-only-sold-at-cs-auction-no-other-store-offers-this-incredible-product-gain-nearly-9-billion-coins-instantly-as-well-as-over-1000-magical-power-allowing-you-to-do-insane-amounts-of-damage-acquire-a-bunch-of-health-intelligence-attack-speed-and-more-quickly-advance-past-a-dull-stage-of-the-game-and-become-a-late-game-player-thanks-to-this-deal-details-will-be-discussed-after-purchase-ultra-secure-method-0-ban-chance-9zo-sub-3 {
          font-size: 3rem;
          font-weight: 400;
          line-height: 1;
          color: rgba(255, 255, 255, 0.6999999881);
          font-family: Luckiest Guy, 'Source Sans Pro';
        }
        .this-insane-one-of-a-kind-deal-is-only-sold-at-cs-auction-no-other-store-offers-this-incredible-product-gain-nearly-9-billion-coins-instantly-as-well-as-over-1000-magical-power-allowing-you-to-do-insane-amounts-of-damage-acquire-a-bunch-of-health-intelligence-attack-speed-and-more-quickly-advance-past-a-dull-stage-of-the-game-and-become-a-late-game-player-thanks-to-this-deal-details-will-be-discussed-after-purchase-ultra-secure-method-0-ban-chance-9zo-sub-4 {
          font-size: 5rem;
          font-weight: 400;
          line-height: 1;
          color: rgba(156, 234, 159, 0.6999999881);
          font-family: Luckiest Guy, 'Source Sans Pro';
        }
        .this-insane-one-of-a-kind-deal-is-only-sold-at-cs-auction-no-other-store-offers-this-incredible-product-gain-nearly-9-billion-coins-instantly-as-well-as-over-1000-magical-power-allowing-you-to-do-insane-amounts-of-damage-acquire-a-bunch-of-health-intelligence-attack-speed-and-more-quickly-advance-past-a-dull-stage-of-the-game-and-become-a-late-game-player-thanks-to-this-deal-details-will-be-discussed-after-purchase-ultra-secure-method-0-ban-chance-9zo-sub-5 {
          font-size: 1rem;
          font-weight: 400;
          line-height: 1;
          color: rgba(255, 255, 255, 0.200000003);
          font-family: Luckiest Guy, 'Source Sans Pro';
        }
      }
    }
    .header-o19 {
      width: 192rem;
      height: 18.559rem;
      top: 0;
      display: flex;
      background-color: rgba(28, 28, 28, 0.75);
      box-sizing: border-box;
      padding: 3rem 1.784rem 2.909rem 77.55rem;
      position: absolute;
      left: 29.85rem;
      align-items: center;

      .coins-czB {
        line-height: 1.2575;
        font-family: Arimo Hebrew Subset, 'Source Sans Pro';
        white-space: nowrap;
        margin: 10.55rem 0.021rem 0rem 0rem;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
        font-weight: 700;
        color: #ffc712;
        flex-shrink: 0;
        display: flex;
      }
      .auto-group-3afr-Jc7 {
        flex-direction: column;
        flex-shrink: 0;
        margin: 2.43rem 73.429rem 0rem 0rem;
        width: 29.4rem;
        align-items: flex-end;
        display: flex;

        .link-heading-1-cs-auction-1WX {
          display: flex;
          justify-content: center;
          font-weight: 700;
          line-height: 1.2575;
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.52rem;
          width: 100%;
          align-items: center;
          font-size: 6rem;
          font-family: Arimo Hebrew Subset, 'Source Sans Pro';
        }
        .auto-group-xgjz-me7 {
          margin-right: 0.1205rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .miscellaneous-Tmq {
            justify-content: center;
            color: #ffc712;
            font-family: Arimo Hebrew Subset, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 3.15rem;
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.2575;
          }
          .items-mGj {
            font-size: 1.6rem;
            white-space: nowrap;
            line-height: 1.2575;
            color: #ffc712;
            font-family: Arimo Hebrew Subset, 'Source Sans Pro';
            margin-right: 3.7rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            flex-shrink: 0;
          }
          .discord-VCj {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.2575;
            font-family: Arimo Hebrew Subset, 'Source Sans Pro';
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #513dcf;
            white-space: nowrap;
          }
        }
      }
      .link-DPd {
        margin-bottom: 9.85rem;
        align-items: center;
        font-size: 1.6rem;
        color: #1c1c1c;
        font-family: Arial, 'Source Sans Pro';
        border-radius: 0.5rem;
        width: 5.916rem;
        height: 2.8rem;
        display: flex;
        font-weight: 400;
        line-height: 1.2575;
        background-color: #ccae4e;
        flex-shrink: 0;
        justify-content: center;
        white-space: nowrap;
      }
    }
    .sell-coins-heading-sUB {
      height: 82.6rem;
      position: absolute;
      left: 54.2576rem;
      top: 530rem;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      width: 137.2924rem;

      .auto-group-e6kr-Bjm {
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0rem 2rem 1.55rem 7.392rem;
        width: 100%;
        align-items: center;
        display: flex;

        .heading-2-sell-misc-hCK {
          justify-content: center;
          font-size: 6.4rem;
          font-weight: 400;
          line-height: 1;
          color: #e37611;
          font-family: Luckiest Guy, 'Source Sans Pro';
          margin-bottom: 1.3rem;
          display: flex;
          flex-shrink: 0;
          align-items: center;
          white-space: nowrap;
        }
        .divdivider-Abh {
          flex-shrink: 0;
          margin: 0rem 18.1rem 1.45rem 18.4rem;
          width: calc(100% - 36.5rem);
          height: 0.2rem;
          border: solid 0.1rem #ccae4e;
          box-sizing: border-box;
        }
        .we-are-always-looking-to-buy-your-items-fHZ {
          display: flex;
          justify-content: center;
          font-size: 3.6rem;
          line-height: 1;
          margin-left: 1.6rem;
          font-weight: 400;
          color: #e4d760;
          font-family: Luckiest Guy, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          align-items: baseline;

          .we-are-always-looking-to-buy-your-items-fHZ-sub-0 {
          }
          .we-are-always-looking-to-buy-your-items-fHZ-sub-1 {
            font-weight: 400;
            line-height: 1;
            text-decoration-line: underline;
            color: #e4d760;
            font-family: Luckiest Guy, 'Source Sans Pro';
            font-size: 3.6rem;
          }
          .we-are-always-looking-to-buy-your-items-fHZ-sub-2 {
          }
        }
      }
      .auto-group-puew-bqR {
        width: 100%;
        height: 44.5rem;
        position: relative;
        flex-shrink: 0;

        .join-the-discord-and-open-a-ticket-to-sell-us-your-best-items-0025-million-ie-item-worth-100m-250-minimum-item-value-100-million-coins-wuH {
          width: 108rem;
          left: 17.4424rem;
          top: 0;
          text-align: center;
          font-weight: 400;
          font-family: Luckiest Guy, 'Source Sans Pro';
          height: 24rem;
          position: absolute;
          font-size: 3.6rem;
          line-height: 1;
          color: #ebeca9;

          .join-the-discord-and-open-a-ticket-to-sell-us-your-best-items-0025-million-ie-item-worth-100m-250-minimum-item-value-100-million-coins-wuH-sub-0 {
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1;
            color: #f1a762;
            font-family: Luckiest Guy, 'Source Sans Pro';
          }
          .join-the-discord-and-open-a-ticket-to-sell-us-your-best-items-0025-million-ie-item-worth-100m-250-minimum-item-value-100-million-coins-wuH-sub-1 {
          }
          .join-the-discord-and-open-a-ticket-to-sell-us-your-best-items-0025-million-ie-item-worth-100m-250-minimum-item-value-100-million-coins-wuH-sub-2 {
            font-size: 6.4rem;
            font-weight: 400;
            line-height: 1;
            color: #05ff00;
            font-family: Luckiest Guy, 'Source Sans Pro';
          }
          .join-the-discord-and-open-a-ticket-to-sell-us-your-best-items-0025-million-ie-item-worth-100m-250-minimum-item-value-100-million-coins-wuH-sub-3 {
            color: #159b12;
            font-family: Luckiest Guy, 'Source Sans Pro';
            font-size: 3.2rem;
            font-weight: 400;
            line-height: 1;
          }
          .join-the-discord-and-open-a-ticket-to-sell-us-your-best-items-0025-million-ie-item-worth-100m-250-minimum-item-value-100-million-coins-wuH-sub-4 {
          }
          .join-the-discord-and-open-a-ticket-to-sell-us-your-best-items-0025-million-ie-item-worth-100m-250-minimum-item-value-100-million-coins-wuH-sub-5 {
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1;
            color: #abeca9;
            font-family: Luckiest Guy, 'Source Sans Pro';
          }
          .join-the-discord-and-open-a-ticket-to-sell-us-your-best-items-0025-million-ie-item-worth-100m-250-minimum-item-value-100-million-coins-wuH-sub-6 {
            font-weight: 400;
            line-height: 1;
            color: #ffb700;
            font-family: Luckiest Guy, 'Source Sans Pro';
            font-size: 3.6rem;
          }
        }
        .primary-button-vwZ {
          justify-content: center;
          white-space: nowrap;
          border-radius: 0.6rem;
          color: #ffffff;
          font-family: Luckiest Guy, 'Source Sans Pro';
          background-color: #6a5acd;
          box-sizing: border-box;
          align-items: center;
          font-size: 6.4rem;
          position: absolute;
          left: 51.9924rem;
          font-weight: 400;
          line-height: 1;
          padding: 2.6rem 7.45rem 0.7rem 7.45rem;
          width: 38.9rem;
          height: 9.7rem;
          top: 34.8rem;
          display: flex;
          box-shadow: 0 0 5rem rgba(128, 112, 226, 0.25);
        }
        .line-1-6jZ {
          width: 48.0924rem;
          height: 9.3494rem;
          position: absolute;
          left: 0;
          top: 29.4506rem;
          object-fit: contain;
          vertical-align: top;
        }
        .line-2-dzP {
          object-fit: contain;
          vertical-align: top;
          width: 44.1rem;
          height: 20rem;
          position: absolute;
          left: 93.1924rem;
          top: 14.8rem;
        }
      }
      .auto-group-qobd-mao {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .line-4-X4B {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 2rem 4.5rem 0rem 0rem;
          width: 33.9rem;
          height: 7.7rem;
        }
        .or-contact-wwwcowcom-on-discord-eeb {
          justify-content: center;
          font-size: 2rem;
          font-weight: 400;
          font-family: Luckiest Guy, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 4.4rem 2.9rem 0rem 0rem;
          align-items: center;
          color: #c5bfeb;
          display: flex;
          line-height: 1;
        }
        .line-3-jvw {
          vertical-align: top;
          flex-shrink: 0;
          width: 44.1rem;
          height: 23.6rem;
          object-fit: contain;
        }
      }
    }
    .footer-Trw {
      left: 29.85rem;
      align-items: center;
      line-height: 1.2575;
      width: 192rem;
      height: 10rem;
      justify-content: center;
      font-weight: 400;
      color: #ccae4e;
      font-family: Arial, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      position: absolute;
      top: 640rem;
      font-size: 1.6rem;
      background-color: rgba(28, 28, 28, 0.8000000119);

      .footer-Trw-sub-0 {
      }
      .footer-Trw-sub-1 {
        font-family: Arial, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #738adb;
      }
    }
    .questions-comments-join-the-discord-usM {
      height: 6.4rem;
      display: flex;
      justify-content: center;
      line-height: 1;
      align-items: center;
      font-size: 6.4rem;
      font-weight: 400;
      font-family: Luckiest Guy, 'Source Sans Pro';
      width: 125.5rem;
      position: absolute;
      left: 61.3rem;
      top: 633.15rem;
      white-space: nowrap;
    }
    .notice-we-are-not-for-anything-after-sale-zto {
      top: 620.9rem;
      display: flex;
      justify-content: center;
      line-height: 1;
      color: rgba(255, 255, 255, 0.25);
      height: 6.4rem;
      white-space: nowrap;
      position: absolute;
      font-weight: 400;
      font-family: Luckiest Guy, 'Source Sans Pro';
      width: 135.3rem;
      left: 58.15rem;
      align-items: baseline;
      font-size: 6.4rem;

      .notice-we-are-not-for-anything-after-sale-zto-sub-0 {
        font-family: Luckiest Guy, 'Source Sans Pro';
        font-size: 6.4rem;
        font-weight: 400;
        line-height: 1;
        color: rgba(255, 255, 255, 0.25);
      }
      .notice-we-are-not-for-anything-after-sale-zto-sub-1 {
        font-family: Luckiest Guy, 'Source Sans Pro';
        font-size: 6.4rem;
        font-weight: 400;
        line-height: 1;
        text-transform: uppercase;
        text-decoration-line: underline;
        color: rgba(255, 255, 255, 0.25);
      }
      .notice-we-are-not-for-anything-after-sale-zto-sub-2 {
        font-family: Luckiest Guy, 'Source Sans Pro';
        font-size: 6.4rem;
        font-weight: 400;
        line-height: 1;
        color: rgba(255, 255, 255, 0.25);
      }
      .notice-we-are-not-for-anything-after-sale-zto-sub-3 {
        font-size: 6.4rem;
        font-weight: 400;
        line-height: 1;
        text-decoration-line: underline;
        color: rgba(255, 255, 255, 0.25);
        font-family: Luckiest Guy, 'Source Sans Pro';
      }
      .notice-we-are-not-for-anything-after-sale-zto-sub-4 {
        font-size: 6.4rem;
        font-weight: 400;
        line-height: 1;
        color: rgba(255, 255, 255, 0.25);
        font-family: Luckiest Guy, 'Source Sans Pro';
      }
    }
  }
}
