
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.cauctionxyz-login-nCw {
  width: 100%;
  height: 108rem;
  background-color: #1c1c1c;

  .section-j8B {
    background-color: #242424;
    box-sizing: border-box;
    padding: 1.4rem 1.4rem 40rem 1.4rem;
    width: 100%;
    flex-direction: column;
    background-size: 100% 100%;
    height: 100%;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:7b79826a7fcc44fcaaf99eab9c61a316efe4aabe');

    .exit-FcK {
      margin-bottom: 20.4rem;
      width: 4rem;
      height: 4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-fybm-nMM {
      border-radius: 2rem;
      flex-shrink: 0;
      margin: 0rem 72rem 0rem 71.9rem;
      display: flex;
      background-color: #2e2e2e;
      align-items: center;
      flex-direction: column;
      box-sizing: border-box;
      padding: 0.5rem 5.4rem 3.1rem 5.4rem;
      width: calc(100% - 143.9rem);

      .login-G1d {
        font-weight: 400;
        font-family: Luckiest Guy, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.7rem;
        align-items: center;
        font-size: 6.4rem;
        line-height: 1;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
      }
      .line-7-nEs {
        height: 0.05rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 3.75rem;
        width: 27.7rem;
      }
      .auto-group-j2qx-vM5 {
        position: relative;
        flex-shrink: 0;
        margin-bottom: 2.3rem;
        width: 100%;
        height: 7.7rem;

        .username-s1R {
          font-size: 2rem;
          width: 8.6rem;
          height: 2.6rem;
          position: absolute;
          left: 0.3rem;
          display: flex;
          top: 0;
          font-weight: 400;
          line-height: 1.2575;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
        }
        .rectangle-5-yKM {
          top: 2.3rem;
          background-color: #464646;
          border-radius: 1.5rem;
          width: 34.5rem;
          height: 5.4rem;
          position: absolute;
          left: 0;
        }
        .click-to-edit-thD {
          font-size: 2rem;
          color: #6c6c6c;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          height: 2.6rem;
          left: 1.2rem;
          top: 3.6rem;
          display: flex;
          width: 11.4rem;
          position: absolute;
          font-weight: 400;
          line-height: 1.2575;
        }
      }
      .auto-group-g9ef-PP5 {
        margin-bottom: 1.3rem;
        width: 100%;
        height: 7.8rem;
        position: relative;
        flex-shrink: 0;

        .password-vP1 {
          font-family: Arial, 'Source Sans Pro';
          width: 8.1rem;
          font-size: 2rem;
          line-height: 1.2575;
          top: 0;
          display: flex;
          font-weight: 400;
          white-space: nowrap;
          height: 2.6rem;
          position: absolute;
          left: 0.3rem;
        }
        .rectangle-6-qVy {
          background-color: #464646;
          border-radius: 1.5rem;
          width: 34.5rem;
          height: 5.4rem;
          position: absolute;
          left: 0;
          top: 2.4rem;
        }
        .click-to-edit-NF1 {
          line-height: 1.2575;
          color: #6c6c6c;
          width: 11.4rem;
          position: absolute;
          left: 1.2rem;
          display: flex;
          font-size: 2rem;
          font-weight: 400;
          font-family: Arial, 'Source Sans Pro';
          height: 2.6rem;
          top: 3.8rem;
          white-space: nowrap;
        }
      }
      .auto-group-n57u-GLP {
        width: 31.2rem;
        height: 5.6rem;
        position: relative;
        flex-shrink: 0;
        margin: 0rem 2.7rem 0.4rem 0rem;

        .rectangle-7-CE3 {
          top: 0.5rem;
          object-fit: contain;
          vertical-align: top;
          width: 31.2rem;
          height: 5.1rem;
          position: absolute;
          left: 0;
        }
        .mythical-talisman-bundle-purchase-Lr3 {
          left: 4.5rem;
          top: 0;
          border-radius: 0.5rem;
          width: 24.9rem;
          height: 5.6rem;
          position: absolute;

          .button-TQs {
            margin-bottom: 0.4rem;
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            height: 5.2rem;
            line-height: 1;
            color: #ffffff;
            white-space: nowrap;
            font-size: 2rem;
            font-weight: 700;
            font-family: Lato, 'Source Sans Pro';
            justify-content: center;
            background-color: #ffae00;
            border-radius: 0.4rem;
            box-shadow: 0 0.7rem 2.1rem rgba(255, 153, 0, 0.200000003), 0 0.3rem 0.8rem rgba(255, 229, 0, 0.25);
          }
        }
      }
      .dont-have-an-account-sign-up-szP {
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 2.8rem;
        font-size: 2rem;
        font-weight: 400;
        flex-shrink: 0;
        display: flex;
        line-height: 1.2575;
        align-items: baseline;

        .dont-have-an-account-sign-up-szP-sub-0 {
        }
        .dont-have-an-account-sign-up-szP-sub-1 {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2575;
          text-decoration-line: underline;
          font-family: Arial, 'Source Sans Pro';
        }
      }
    }
  }
}
