
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192.2rem;
}.cauctionxyz-checkout-KXD {
  width: 100%;
  height: 125.7rem;
  background-color: #1c1c1c;

  .section-fb5 {
    width: 100%;
    height: 124.9rem;
    position: relative;
    background-color: #242424;

    .background-1uq {
      background-image: url('REPLACE_IMAGE:7b79826a7fcc44fcaaf99eab9c61a316efe4aabe');
      width: 192rem;
      height: 124.9rem;
      position: relative;
      left: 0;
      top: 0;
      background-size: 146.138% 397.554%;
      background-position: -44.2922rem -255.6057rem;
    }
    .notice-we-are-not-for-anything-after-sale-uEX {
      position: absolute;
      left: 28.3rem;
      justify-content: center;
      font-weight: 400;
      color: rgba(133, 133, 133, 0.150000006);
      width: 135.3rem;
      font-size: 6.4rem;
      font-family: Luckiest Guy, 'Source Sans Pro';
      white-space: nowrap;
      align-items: baseline;
      line-height: 1;
      height: 6.4rem;
      top: 109rem;
      display: flex;

      .notice-we-are-not-for-anything-after-sale-uEX-sub-0 {
      }
      .notice-we-are-not-for-anything-after-sale-uEX-sub-1 {
        text-decoration-line: underline;
        color: rgba(133, 133, 133, 0.150000006);
        font-family: Luckiest Guy, 'Source Sans Pro';
        font-size: 6.4rem;
        font-weight: 400;
        line-height: 1;
        text-transform: uppercase;
      }
      .notice-we-are-not-for-anything-after-sale-uEX-sub-2 {
      }
      .notice-we-are-not-for-anything-after-sale-uEX-sub-3 {
        font-size: 6.4rem;
        font-weight: 400;
        line-height: 1;
        text-decoration-line: underline;
        color: rgba(133, 133, 133, 0.150000006);
        font-family: Luckiest Guy, 'Source Sans Pro';
      }
      .notice-we-are-not-for-anything-after-sale-uEX-sub-4 {
      }
    }
    .footer-SXH {
      left: 0.2rem;
      font-weight: 400;
      font-family: Arial, 'Source Sans Pro';
      display: flex;
      line-height: 1.2575;
      white-space: nowrap;
      height: 10rem;
      top: 114.9rem;
      color: #ccae4e;
      background-color: #1c1c1c;
      width: 192rem;
      position: absolute;
      align-items: center;
      justify-content: center;
      font-size: 1.6rem;

      .footer-SXH-sub-0 {
      }
      .footer-SXH-sub-1 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #738adb;
        font-family: Arial, 'Source Sans Pro';
      }
    }
    .extra-N3Z {
      height: 85.6rem;
      position: absolute;
      left: 4.7rem;
      top: 22rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 164rem;

      .your-basket-VP5 {
        display: flex;
        justify-content: center;
        line-height: 1;
        font-family: Luckiest Guy, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 4.9rem 18.6rem;
        align-items: center;
        font-size: 7.5rem;
        font-weight: 400;
        flex-shrink: 0;
      }
      .auto-group-qget-PzF {
        align-items: flex-start;
        flex-shrink: 0;
        width: 100%;
        height: 73.2rem;
        display: flex;

        .auto-group-e9rz-jYK {
          margin-right: 22.6rem;
          width: 85.6rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .rectangle-10-FmZ {
            left: 0;
            top: 0;
            box-shadow: 0 0 5rem #000000;
            background-color: rgba(32, 32, 32, 0.7699999809);
            border-radius: 2.5rem;
            width: 84rem;
            height: 73.2rem;
            position: absolute;
          }
          .rectangle-11-ZnF {
            height: 8.3rem;
            position: absolute;
            left: 0;
            top: 0;
            background-color: #202020;
            border-radius: 2.5rem 2.5rem 0 0;
            width: 84rem;
          }
          .item-HiF {
            display: flex;
            font-size: 6rem;
            font-weight: 400;
            position: absolute;
            top: 2.05rem;
            font-family: Luckiest Guy, 'Source Sans Pro';
            left: 1.65rem;
            align-items: center;
            line-height: 1;
            white-space: nowrap;
            width: 13.9rem;
            justify-content: center;
            color: #c9c9c9;
            height: 6rem;
          }
          .price-ahM {
            top: 2.05rem;
            justify-content: center;
            color: #c9c9c9;
            height: 6rem;
            display: flex;
            font-size: 6rem;
            font-family: Luckiest Guy, 'Source Sans Pro';
            font-weight: 400;
            white-space: nowrap;
            line-height: 1;
            width: 15.6rem;
            position: absolute;
            left: 34.15rem;
            align-items: center;
          }
          .amount-58K {
            font-family: Luckiest Guy, 'Source Sans Pro';
            width: 23.6rem;
            height: 6rem;
            color: #c9c9c9;
            line-height: 1;
            left: 59.5rem;
            display: flex;
            font-size: 6rem;
            align-items: center;
            white-space: nowrap;
            font-weight: 400;
            position: absolute;
            top: 2.05rem;
            justify-content: center;
          }
          .item-8-yjV {
            top: 60.1rem;
            width: 85.6rem;
            height: 7.4rem;
            position: absolute;
            left: 0;

            .rectangle-15-iBH {
              width: 84rem;
              height: 7.4rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: rgba(43, 43, 43, 0.5);
            }
            .x-circle-3jM {
              height: 3.2rem;
              position: absolute;
              left: 82.4rem;
              top: 2.1rem;
              background-color: #8f0d0d;
              border-radius: 1.6rem;
              width: 3.2rem;
            }
            .x-mfM {
              line-height: 1;
              font-family: Luckiest Guy, 'Source Sans Pro';
              height: 3.2rem;
              position: absolute;
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: 400;
              width: 1.9rem;
              left: 83.05rem;
              top: 2.5rem;
              font-size: 3.2rem;
              white-space: nowrap;
            }
            .amount-VLT {
              display: flex;
              align-items: center;
              width: 14.1rem;
              height: 6.45rem;
              position: absolute;
              left: 65.4rem;
              top: 0.5rem;

              .auto-group-rco9-RV1 {
                width: 4rem;
                height: 100%;
                position: relative;
                flex-shrink: 0;

                .box-yWX {
                  border-radius: 2.5rem 0 0 2.5rem;
                  width: 4rem;
                  height: 6.4rem;
                  position: absolute;
                  left: 0;
                  top: 0;
                  background-color: #3b3b3b;
                }
                .item--hxK {
                  display: flex;
                  white-space: nowrap;
                  color: #ff0000;
                  left: 0.8rem;
                  justify-content: center;
                  font-size: 5rem;
                  font-weight: 400;
                  font-family: Luckiest Guy, 'Source Sans Pro';
                  height: 5rem;
                  top: 1.45rem;
                  align-items: center;
                  line-height: 1;
                  width: 2rem;
                  position: absolute;
                }
              }
              .auto-group-lrsh-bH1 {
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .auto-group-8z7u-MGB {
                  margin-bottom: 0.05rem;
                  padding: 1.4rem 2.15rem 0rem 1.95rem;
                  justify-content: center;
                  font-size: 5rem;
                  font-weight: 400;
                  white-space: nowrap;
                  display: flex;
                  color: #ffffff;
                  background-color: #555555;
                  box-sizing: border-box;
                  height: 6.4rem;
                  align-items: center;
                  line-height: 1;
                  font-family: Luckiest Guy, 'Source Sans Pro';
                  flex-shrink: 0;
                }
                .auto-group-4wyw-R19 {
                  height: 6.4rem;
                  display: flex;
                  align-items: center;
                  line-height: 1;
                  color: #0d962c;
                  white-space: nowrap;
                  box-sizing: border-box;
                  padding: 1.35rem 0.85rem 0.05rem 0.85rem;
                  border-radius: 0 2.5rem 2.5rem 0;
                  font-weight: 400;
                  background-color: #3b3b3b;
                  font-size: 5rem;
                  font-family: Luckiest Guy, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin-bottom: 0.05rem;
                  justify-content: center;
                }
              }
            }
            .item-27500-B8j {
              line-height: 1;
              color: #ececec;
              white-space: nowrap;
              width: 12.5rem;
              position: absolute;
              top: 1.9rem;
              display: flex;
              font-size: 3.6rem;
              font-weight: 400;
              font-family: Luckiest Guy, 'Source Sans Pro';
              height: 3.6rem;
              left: 33.9rem;
            }
            .crimson-deal-full-set-rVm {
              font-size: 2.5rem;
              line-height: 1;
              color: #ececec;
              width: 28.5rem;
              position: absolute;
              left: 1.3rem;
              top: 2.45rem;
              display: flex;
              font-weight: 400;
              font-family: Luckiest Guy, 'Source Sans Pro';
              white-space: nowrap;
              height: 2.5rem;
            }
          }
          .item-7-9Us {
            top: 52.7rem;
            width: 85.6rem;
            height: 7.4rem;
            position: absolute;
            left: 0;

            .behind-svf {
              top: 0;
              background-color: rgba(57, 57, 57, 0.5);
              width: 84rem;
              height: 7.4rem;
              position: absolute;
              left: 0;
            }
            .x-circle-d99 {
              top: 2.1rem;
              background-color: #8f0d0d;
              border-radius: 1.6rem;
              width: 3.2rem;
              height: 3.2rem;
              position: absolute;
              left: 82.4rem;
            }
            .x-Ymu {
              width: 1.9rem;
              height: 3.2rem;
              position: absolute;
              justify-content: center;
              font-weight: 400;
              line-height: 1;
              font-family: Luckiest Guy, 'Source Sans Pro';
              left: 83.05rem;
              top: 2.5rem;
              display: flex;
              align-items: center;
              font-size: 3.2rem;
              white-space: nowrap;
            }
            .amount-Tts {
              position: absolute;
              left: 65.4rem;
              top: 0.5rem;
              display: flex;
              align-items: center;
              width: 14.1rem;
              height: 6.45rem;

              .auto-group-vrzr-bkB {
                width: 4rem;
                height: 100%;
                position: relative;
                flex-shrink: 0;

                .box-9mh {
                  top: 0;
                  background-color: #3b3b3b;
                  border-radius: 2.5rem 0 0 2.5rem;
                  width: 4rem;
                  height: 6.4rem;
                  position: absolute;
                  left: 0;
                }
                .item--tjH {
                  width: 2rem;
                  height: 5rem;
                  left: 0.8rem;
                  font-family: Luckiest Guy, 'Source Sans Pro';
                  white-space: nowrap;
                  font-size: 5rem;
                  font-weight: 400;
                  align-items: center;
                  justify-content: center;
                  line-height: 1;
                  position: absolute;
                  top: 1.45rem;
                  display: flex;
                  color: #ff0000;
                }
              }
              .auto-group-qh19-b7u {
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .auto-group-lb2o-whZ {
                  padding: 1.4rem 2.15rem 0rem 1.95rem;
                  height: 6.4rem;
                  font-weight: 400;
                  line-height: 1;
                  box-sizing: border-box;
                  color: #ffffff;
                  flex-shrink: 0;
                  margin-bottom: 0.05rem;
                  display: flex;
                  align-items: center;
                  font-size: 5rem;
                  font-family: Luckiest Guy, 'Source Sans Pro';
                  background-color: #555555;
                  justify-content: center;
                  white-space: nowrap;
                }
                .auto-group-g8yd-pFZ {
                  margin-bottom: 0.05rem;
                  padding: 1.35rem 0.85rem 0.05rem 0.85rem;
                  align-items: center;
                  font-weight: 400;
                  font-family: Luckiest Guy, 'Source Sans Pro';
                  background-color: #3b3b3b;
                  border-radius: 0 2.5rem 2.5rem 0;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  display: flex;
                  font-size: 5rem;
                  white-space: nowrap;
                  height: 6.4rem;
                  justify-content: center;
                  line-height: 1;
                  color: #0d962c;
                }
              }
            }
            .item-1000-sUj {
              line-height: 1;
              font-family: Luckiest Guy, 'Source Sans Pro';
              white-space: nowrap;
              width: 10.5rem;
              height: 3.6rem;
              font-weight: 400;
              display: flex;
              font-size: 3.6rem;
              color: #ececec;
              position: absolute;
              left: 33.9rem;
              top: 1.9rem;
            }
            .juju-shortbow-aP9 {
              display: flex;
              font-size: 2.5rem;
              color: #ececec;
              font-family: Luckiest Guy, 'Source Sans Pro';
              height: 2.5rem;
              position: absolute;
              top: 2.45rem;
              line-height: 1;
              white-space: nowrap;
              width: 18.8rem;
              left: 1.3rem;
              font-weight: 400;
            }
          }
          .item-6-VW7 {
            top: 45.3rem;
            width: 85.6rem;
            height: 7.4rem;
            position: absolute;
            left: 0;

            .rectangle-15-Ref {
              width: 84rem;
              height: 7.4rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: rgba(43, 43, 43, 0.5);
            }
            .x-circle-yAP {
              left: 82.4rem;
              top: 2.1rem;
              background-color: #8f0d0d;
              border-radius: 1.6rem;
              width: 3.2rem;
              height: 3.2rem;
              position: absolute;
            }
            .x-71h {
              font-size: 3.2rem;
              font-family: Luckiest Guy, 'Source Sans Pro';
              height: 3.2rem;
              position: absolute;
              justify-content: center;
              display: flex;
              align-items: center;
              font-weight: 400;
              line-height: 1;
              white-space: nowrap;
              width: 1.9rem;
              left: 83.05rem;
              top: 2.5rem;
            }
            .amount-pgo {
              display: flex;
              align-items: center;
              width: 14.1rem;
              height: 6.45rem;
              position: absolute;
              left: 65.4rem;
              top: 0.5rem;

              .auto-group-dro9-kqM {
                width: 4rem;
                height: 100%;
                position: relative;
                flex-shrink: 0;

                .box-7R1 {
                  width: 4rem;
                  height: 6.4rem;
                  position: absolute;
                  left: 0;
                  top: 0;
                  background-color: #3b3b3b;
                  border-radius: 2.5rem 0 0 2.5rem;
                }
                .item--FGK {
                  top: 1.45rem;
                  display: flex;
                  left: 0.8rem;
                  align-items: center;
                  font-weight: 400;
                  position: absolute;
                  font-family: Luckiest Guy, 'Source Sans Pro';
                  font-size: 5rem;
                  height: 5rem;
                  justify-content: center;
                  line-height: 1;
                  color: #ff0000;
                  white-space: nowrap;
                  width: 2rem;
                }
              }
              .auto-group-uumr-xAj {
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .auto-group-moyh-7pK {
                  align-items: center;
                  font-weight: 400;
                  line-height: 1;
                  color: #ffffff;
                  font-family: Luckiest Guy, 'Source Sans Pro';
                  background-color: #555555;
                  flex-shrink: 0;
                  margin-bottom: 0.05rem;
                  box-sizing: border-box;
                  justify-content: center;
                  height: 6.4rem;
                  display: flex;
                  white-space: nowrap;
                  padding: 1.4rem 2.15rem 0rem 1.95rem;
                  font-size: 5rem;
                }
                .auto-group-nymy-bDh {
                  box-sizing: border-box;
                  padding: 1.35rem 0.85rem 0.05rem 0.85rem;
                  display: flex;
                  white-space: nowrap;
                  background-color: #3b3b3b;
                  border-radius: 0 2.5rem 2.5rem 0;
                  margin-bottom: 0.05rem;
                  height: 6.4rem;
                  justify-content: center;
                  font-size: 5rem;
                  font-weight: 400;
                  flex-shrink: 0;
                  align-items: center;
                  line-height: 1;
                  color: #0d962c;
                  font-family: Luckiest Guy, 'Source Sans Pro';
                }
              }
            }
            .item-44444-eBy {
              color: #ececec;
              font-family: Luckiest Guy, 'Source Sans Pro';
              width: 12.1rem;
              height: 3.6rem;
              position: absolute;
              display: flex;
              font-weight: 400;
              line-height: 1;
              left: 33.9rem;
              top: 1.9rem;
              font-size: 3.6rem;
              white-space: nowrap;
            }
            .dead-bush-of-love-8N3 {
              width: 21.3rem;
              top: 2.45rem;
              font-family: Luckiest Guy, 'Source Sans Pro';
              display: flex;
              font-size: 2.5rem;
              font-weight: 400;
              line-height: 1;
              color: #ececec;
              height: 2.5rem;
              position: absolute;
              left: 1.3rem;
              white-space: nowrap;
            }
          }
          .item-5-EAB {
            height: 7.4rem;
            position: absolute;
            left: 0;
            top: 37.9rem;
            width: 85.6rem;

            .behind-N1V {
              width: 84rem;
              height: 7.4rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: rgba(57, 57, 57, 0.5);
            }
            .x-circle-KBd {
              border-radius: 1.6rem;
              width: 3.2rem;
              height: 3.2rem;
              position: absolute;
              left: 82.4rem;
              top: 2.1rem;
              background-color: #8f0d0d;
            }
            .x-Sn3 {
              top: 2.5rem;
              font-size: 3.2rem;
              white-space: nowrap;
              left: 83.05rem;
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: 400;
              width: 1.9rem;
              height: 3.2rem;
              position: absolute;
              line-height: 1;
              font-family: Luckiest Guy, 'Source Sans Pro';
            }
            .amount-kXq {
              height: 6.45rem;
              position: absolute;
              left: 65.4rem;
              top: 0.5rem;
              display: flex;
              align-items: center;
              width: 14.1rem;

              .auto-group-xawb-te3 {
                width: 4rem;
                height: 100%;
                position: relative;
                flex-shrink: 0;

                .box-r55 {
                  top: 0;
                  background-color: #3b3b3b;
                  border-radius: 2.5rem 0 0 2.5rem;
                  width: 4rem;
                  height: 6.4rem;
                  position: absolute;
                  left: 0;
                }
                .item--Bd9 {
                  line-height: 1;
                  font-size: 5rem;
                  align-items: center;
                  justify-content: center;
                  font-weight: 400;
                  color: #ff0000;
                  position: absolute;
                  left: 0.8rem;
                  display: flex;
                  font-family: Luckiest Guy, 'Source Sans Pro';
                  white-space: nowrap;
                  width: 2rem;
                  top: 1.45rem;
                  height: 5rem;
                }
              }
              .auto-group-bvfm-V83 {
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .auto-group-bbks-S3H {
                  box-sizing: border-box;
                  font-weight: 400;
                  line-height: 1;
                  white-space: nowrap;
                  background-color: #555555;
                  margin-bottom: 0.05rem;
                  align-items: center;
                  color: #ffffff;
                  padding: 1.4rem 2.15rem 0rem 1.95rem;
                  height: 6.4rem;
                  display: flex;
                  justify-content: center;
                  font-size: 5rem;
                  font-family: Luckiest Guy, 'Source Sans Pro';
                  flex-shrink: 0;
                }
                .auto-group-yk3h-Woq {
                  justify-content: center;
                  font-size: 5rem;
                  line-height: 1;
                  color: #0d962c;
                  white-space: nowrap;
                  border-radius: 0 2.5rem 2.5rem 0;
                  padding: 1.35rem 0.85rem 0.05rem 0.85rem;
                  align-items: center;
                  font-weight: 400;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  display: flex;
                  font-family: Luckiest Guy, 'Source Sans Pro';
                  margin-bottom: 0.05rem;
                  height: 6.4rem;
                  background-color: #3b3b3b;
                }
              }
            }
            .item-7500-6000-yBd {
              line-height: 1;
              color: #ececec;
              white-space: nowrap;
              height: 3.6rem;
              position: absolute;
              display: flex;
              font-size: 3.6rem;
              font-family: Luckiest Guy, 'Source Sans Pro';
              align-items: baseline;
              width: 22.4rem;
              left: 33.9rem;
              top: 1.9rem;
              font-weight: 400;

              .item-7500-6000-yBd-sub-0 {
                line-height: 1;
                text-decoration-line: line-through;
                color: #ff0000;
                font-family: Luckiest Guy, 'Source Sans Pro';
                font-size: 3.6rem;
                font-weight: 400;
              }
              .item-7500-6000-yBd-sub-1 {
              }
              .item-7500-6000-yBd-sub-2 {
                font-size: 3.6rem;
                font-weight: 400;
                line-height: 1;
                color: #2c8f14;
                font-family: Luckiest Guy, 'Source Sans Pro';
              }
            }
            .plasmaflux-2JK {
              width: 15.2rem;
              height: 2.5rem;
              position: absolute;
              left: 1.3rem;
              top: 2.45rem;
              display: flex;
              color: #ececec;
              font-family: Luckiest Guy, 'Source Sans Pro';
              font-size: 2.5rem;
              font-weight: 400;
              line-height: 1;
              white-space: nowrap;
            }
          }
          .item-4-LZu {
            top: 30.5rem;
            width: 85.6rem;
            height: 7.4rem;
            position: absolute;
            left: 0;

            .rectangle-15-5XV {
              position: absolute;
              left: 0;
              top: 0;
              background-color: rgba(43, 43, 43, 0.5);
              width: 84rem;
              height: 7.4rem;
            }
            .x-circle-dJ7 {
              left: 82.4rem;
              top: 2.1rem;
              background-color: #8f0d0d;
              border-radius: 1.6rem;
              width: 3.2rem;
              height: 3.2rem;
              position: absolute;
            }
            .x-m9R {
              font-size: 3.2rem;
              font-family: Luckiest Guy, 'Source Sans Pro';
              width: 1.9rem;
              position: absolute;
              display: flex;
              align-items: center;
              font-weight: 400;
              line-height: 1;
              white-space: nowrap;
              height: 3.2rem;
              left: 83.05rem;
              top: 2.5rem;
              justify-content: center;
            }
            .amount-UpX {
              align-items: center;
              width: 14.1rem;
              height: 6.45rem;
              position: absolute;
              left: 65.4rem;
              top: 0.5rem;
              display: flex;

              .auto-group-rrod-RDy {
                flex-shrink: 0;
                width: 4rem;
                height: 100%;
                position: relative;

                .box-BU3 {
                  width: 4rem;
                  height: 6.4rem;
                  position: absolute;
                  left: 0;
                  top: 0;
                  background-color: #3b3b3b;
                  border-radius: 2.5rem 0 0 2.5rem;
                }
                .item--vRd {
                  width: 2rem;
                  top: 1.45rem;
                  align-items: center;
                  justify-content: center;
                  line-height: 1;
                  font-size: 5rem;
                  height: 5rem;
                  display: flex;
                  color: #ff0000;
                  white-space: nowrap;
                  position: absolute;
                  left: 0.8rem;
                  font-weight: 400;
                  font-family: Luckiest Guy, 'Source Sans Pro';
                }
              }
              .auto-group-cgjt-2Uf {
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .auto-group-3aaj-zAb {
                  background-color: #555555;
                  font-size: 5rem;
                  font-family: Luckiest Guy, 'Source Sans Pro';
                  box-sizing: border-box;
                  font-weight: 400;
                  line-height: 1;
                  height: 6.4rem;
                  padding: 1.4rem 0.55rem 0rem 0.35rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  color: #ffffff;
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.05rem;
                }
                .auto-group-17wm-4AT {
                  display: flex;
                  flex-shrink: 0;
                  justify-content: center;
                  font-weight: 400;
                  line-height: 1;
                  font-family: Luckiest Guy, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-bottom: 0.05rem;
                  height: 6.4rem;
                  align-items: center;
                  background-color: #3b3b3b;
                  font-size: 5rem;
                  color: #0d962c;
                  border-radius: 0 2.5rem 2.5rem 0;
                  box-sizing: border-box;
                  padding: 1.35rem 0.85rem 0.05rem 0.85rem;
                }
              }
            }
            .o00-KMH {
              font-weight: 400;
              color: #ececec;
              font-family: Luckiest Guy, 'Source Sans Pro';
              white-space: nowrap;
              width: 13.4rem;
              top: 1.9rem;
              display: flex;
              font-size: 3.6rem;
              height: 3.6rem;
              position: absolute;
              left: 33.9rem;
              line-height: 1;
            }
            .bedrock-barrier-Rv7 {
              left: 1.3rem;
              top: 2.45rem;
              font-weight: 400;
              line-height: 1;
              white-space: nowrap;
              width: 23.1rem;
              height: 2.5rem;
              position: absolute;
              display: flex;
              font-size: 2.5rem;
              color: #ececec;
              font-family: Luckiest Guy, 'Source Sans Pro';
            }
          }
          .item-3-wNf {
            width: 85.6rem;
            height: 7.4rem;
            position: absolute;
            left: 0;
            top: 23.1rem;

            .behind-sGK {
              left: 0;
              top: 0;
              background-color: rgba(57, 57, 57, 0.5);
              width: 84rem;
              height: 7.4rem;
              position: absolute;
            }
            .x-circle-cDu {
              width: 3.2rem;
              height: 3.2rem;
              position: absolute;
              left: 82.4rem;
              top: 2.1rem;
              background-color: #8f0d0d;
              border-radius: 1.6rem;
            }
            .x-vkP {
              top: 2.5rem;
              align-items: center;
              font-size: 3.2rem;
              font-weight: 400;
              line-height: 1;
              height: 3.2rem;
              position: absolute;
              left: 83.05rem;
              font-family: Luckiest Guy, 'Source Sans Pro';
              white-space: nowrap;
              width: 1.9rem;
              display: flex;
              justify-content: center;
            }
            .amount-qcT {
              height: 6.45rem;
              position: absolute;
              left: 65.4rem;
              top: 0.5rem;
              display: flex;
              align-items: center;
              width: 14.1rem;

              .auto-group-22s3-aa3 {
                height: 100%;
                position: relative;
                flex-shrink: 0;
                width: 4rem;

                .box-jhq {
                  position: absolute;
                  left: 0;
                  top: 0;
                  background-color: #3b3b3b;
                  border-radius: 2.5rem 0 0 2.5rem;
                  width: 4rem;
                  height: 6.4rem;
                }
                .item--Gxf {
                  height: 5rem;
                  font-size: 5rem;
                  font-weight: 400;
                  width: 2rem;
                  top: 1.45rem;
                  align-items: center;
                  color: #ff0000;
                  font-family: Luckiest Guy, 'Source Sans Pro';
                  white-space: nowrap;
                  position: absolute;
                  display: flex;
                  line-height: 1;
                  left: 0.8rem;
                  justify-content: center;
                }
              }
              .auto-group-jgfh-Ao9 {
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .auto-group-6nvu-Xdh {
                  padding: 1.4rem 1.85rem 0rem 1.65rem;
                  height: 6.4rem;
                  align-items: center;
                  margin-bottom: 0.05rem;
                  font-size: 5rem;
                  color: #ffffff;
                  white-space: nowrap;
                  background-color: #555555;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  justify-content: center;
                  line-height: 1;
                  font-family: Luckiest Guy, 'Source Sans Pro';
                  display: flex;
                  font-weight: 400;
                }
                .auto-group-elbq-Czj {
                  margin-bottom: 0.05rem;
                  align-items: center;
                  font-size: 5rem;
                  font-weight: 400;
                  background-color: #3b3b3b;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  justify-content: center;
                  color: #0d962c;
                  white-space: nowrap;
                  padding: 1.35rem 0.85rem 0.05rem 0.85rem;
                  font-family: Luckiest Guy, 'Source Sans Pro';
                  border-radius: 0 2.5rem 2.5rem 0;
                  height: 6.4rem;
                  display: flex;
                  line-height: 1;
                }
              }
            }
            .item-2000-52w {
              height: 3.6rem;
              position: absolute;
              display: flex;
              font-size: 3.6rem;
              color: #ececec;
              white-space: nowrap;
              width: 11rem;
              left: 33.9rem;
              top: 1.9rem;
              font-weight: 400;
              line-height: 1;
              font-family: Luckiest Guy, 'Source Sans Pro';
            }
            .coins-Zyh {
              white-space: nowrap;
              width: 21.7rem;
              height: 2.5rem;
              left: 1.3rem;
              display: flex;
              line-height: 1;
              color: #ececec;
              font-family: Luckiest Guy, 'Source Sans Pro';
              position: absolute;
              top: 2.45rem;
              font-size: 2.5rem;
              font-weight: 400;
            }
          }
          .item-2-sjV {
            width: 85.6rem;
            height: 7.4rem;
            position: absolute;
            left: 0;
            top: 15.7rem;

            .rectangle-15-1Ku {
              width: 84rem;
              height: 7.4rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: rgba(43, 43, 43, 0.5);
            }
            .x-circle-kHV {
              width: 3.2rem;
              height: 3.2rem;
              position: absolute;
              left: 82.4rem;
              top: 2.1rem;
              background-color: #8f0d0d;
              border-radius: 1.6rem;
            }
            .x-Gmd {
              line-height: 1;
              width: 1.9rem;
              display: flex;
              justify-content: center;
              font-size: 3.2rem;
              align-items: center;
              font-weight: 400;
              font-family: Luckiest Guy, 'Source Sans Pro';
              white-space: nowrap;
              height: 3.2rem;
              position: absolute;
              left: 83.05rem;
              top: 2.5rem;
            }
            .amount-b3D {
              display: flex;
              align-items: center;
              width: 14.1rem;
              height: 6.45rem;
              position: absolute;
              left: 65.4rem;
              top: 0.5rem;

              .auto-group-n2ym-839 {
                position: relative;
                flex-shrink: 0;
                width: 4rem;
                height: 100%;

                .box-5UB {
                  border-radius: 2.5rem 0 0 2.5rem;
                  width: 4rem;
                  height: 6.4rem;
                  position: absolute;
                  left: 0;
                  top: 0;
                  background-color: #3b3b3b;
                }
                .item--pgf {
                  width: 2rem;
                  font-size: 5rem;
                  white-space: nowrap;
                  height: 5rem;
                  display: flex;
                  font-family: Luckiest Guy, 'Source Sans Pro';
                  top: 1.45rem;
                  justify-content: center;
                  font-weight: 400;
                  position: absolute;
                  left: 0.8rem;
                  align-items: center;
                  line-height: 1;
                  color: #ff0000;
                }
              }
              .auto-group-2g2j-8ST {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                height: 100%;

                .auto-group-kakp-gTy {
                  color: #ffffff;
                  margin-bottom: 0.05rem;
                  box-sizing: border-box;
                  align-items: center;
                  justify-content: center;
                  height: 6.4rem;
                  display: flex;
                  font-size: 5rem;
                  background-color: #555555;
                  padding: 1.4rem 1.8rem 0rem 1.6rem;
                  font-weight: 400;
                  line-height: 1;
                  white-space: nowrap;
                  font-family: Luckiest Guy, 'Source Sans Pro';
                  flex-shrink: 0;
                }
                .auto-group-nluf-A8F {
                  margin-bottom: 0.05rem;
                  padding: 1.35rem 0.85rem 0.05rem 0.85rem;
                  justify-content: center;
                  white-space: nowrap;
                  background-color: #3b3b3b;
                  height: 6.4rem;
                  font-size: 5rem;
                  line-height: 1;
                  align-items: center;
                  font-weight: 400;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  display: flex;
                  color: #0d962c;
                  font-family: Luckiest Guy, 'Source Sans Pro';
                  border-radius: 0 2.5rem 2.5rem 0;
                }
              }
            }
            .item-050-cW3 {
              left: 33.9rem;
              top: 1.9rem;
              display: flex;
              font-size: 3.6rem;
              font-weight: 400;
              color: #ececec;
              white-space: nowrap;
              width: 8.8rem;
              position: absolute;
              line-height: 1;
              font-family: Luckiest Guy, 'Source Sans Pro';
              height: 3.6rem;
            }
            .coins-J7y {
              white-space: nowrap;
              left: 1.3rem;
              top: 2.45rem;
              font-size: 2.5rem;
              font-weight: 400;
              line-height: 1;
              font-family: Luckiest Guy, 'Source Sans Pro';
              width: 18.6rem;
              height: 2.5rem;
              position: absolute;
              display: flex;
              color: #ececec;
            }
          }
          .item-1-zmV {
            width: 85.6rem;
            height: 7.4rem;
            position: absolute;
            left: 0;
            top: 8.3rem;

            .behind-vQF {
              width: 84rem;
              height: 7.4rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: rgba(57, 57, 57, 0.5);
            }
            .x-circle-fcj {
              width: 3.2rem;
              height: 3.2rem;
              position: absolute;
              left: 82.4rem;
              top: 2.1rem;
              background-color: #8f0d0d;
              border-radius: 1.6rem;
            }
            .x-azb {
              left: 83.05rem;
              align-items: center;
              justify-content: center;
              line-height: 1;
              font-family: Luckiest Guy, 'Source Sans Pro';
              white-space: nowrap;
              width: 1.9rem;
              height: 3.2rem;
              display: flex;
              font-size: 3.2rem;
              font-weight: 400;
              position: absolute;
              top: 2.5rem;
            }
            .amount-hZR {
              width: 14.1rem;
              height: 6.45rem;
              position: absolute;
              left: 65.4rem;
              top: 0.5rem;
              display: flex;
              align-items: center;

              .auto-group-xdcb-SG7 {
                height: 100%;
                position: relative;
                flex-shrink: 0;
                width: 4rem;

                .box-Ph9 {
                  height: 6.4rem;
                  position: absolute;
                  left: 0;
                  top: 0;
                  background-color: #3b3b3b;
                  border-radius: 2.5rem 0 0 2.5rem;
                  width: 4rem;
                }
                .item--8Pq {
                  position: absolute;
                  left: 0.8rem;
                  align-items: center;
                  font-size: 5rem;
                  color: #ff0000;
                  width: 2rem;
                  height: 5rem;
                  top: 1.45rem;
                  font-weight: 400;
                  display: flex;
                  justify-content: center;
                  line-height: 1;
                  font-family: Luckiest Guy, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .auto-group-74hv-ESs {
                flex-shrink: 0;
                height: 100%;
                display: flex;
                align-items: center;

                .auto-group-anpf-nzB {
                  font-weight: 400;
                  line-height: 1;
                  color: #ffffff;
                  font-family: Luckiest Guy, 'Source Sans Pro';
                  background-color: #555555;
                  margin-bottom: 0.05rem;
                  padding: 1.4rem 2.15rem 0rem 1.95rem;
                  height: 6.4rem;
                  white-space: nowrap;
                  font-size: 5rem;
                  flex-shrink: 0;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  box-sizing: border-box;
                }
                .auto-group-o839-U6K {
                  display: flex;
                  font-weight: 400;
                  line-height: 1;
                  height: 6.4rem;
                  align-items: center;
                  justify-content: center;
                  background-color: #3b3b3b;
                  padding: 1.35rem 0.85rem 0.05rem 0.85rem;
                  font-size: 5rem;
                  border-radius: 0 2.5rem 2.5rem 0;
                  margin-bottom: 0.05rem;
                  color: #0d962c;
                  font-family: Luckiest Guy, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  box-sizing: border-box;
                }
              }
            }
            .item-83000-X4b {
              position: absolute;
              left: 33.9rem;
              display: flex;
              font-weight: 400;
              color: #ececec;
              font-family: Luckiest Guy, 'Source Sans Pro';
              white-space: nowrap;
              width: 13.1rem;
              height: 3.6rem;
              top: 1.9rem;
              font-size: 3.6rem;
              line-height: 1;
            }
            .mega-accessory-bundle-R9y {
              height: 2.5rem;
              top: 2.45rem;
              font-size: 2.5rem;
              line-height: 1;
              font-family: Luckiest Guy, 'Source Sans Pro';
              white-space: nowrap;
              width: 29rem;
              position: absolute;
              left: 1.3rem;
              display: flex;
              font-weight: 400;
            }
          }
        }
        .auto-group-v6ph-8KH {
          width: 55.8rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-ahyz-gLo {
            box-shadow: 0 0 5rem #000000;
            background-color: rgba(32, 32, 32, 0.7699999809);
            border-radius: 2.5rem;
            flex-shrink: 0;
            width: 100%;
            flex-direction: column;
            padding: 1.55rem 1.1rem 3.15rem 1.1rem;
            display: flex;
            margin-bottom: 4.7rem;
            box-sizing: border-box;

            .total-203994-C4F {
              white-space: nowrap;
              font-size: 5rem;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: 400;
              line-height: 1;
              color: #ffa800;
              margin-bottom: 2.3rem;
              flex-shrink: 0;
              font-family: Luckiest Guy, 'Source Sans Pro';
            }
            .deliver-to--hmh {
              margin: 0rem 0rem 0.65rem 1.1rem;
              display: flex;
              line-height: 1;
              font-family: Luckiest Guy, 'Source Sans Pro';
              font-size: 5rem;
              font-weight: 400;
              color: #ffffff;
              white-space: nowrap;
              flex-shrink: 0;
            }
            .auto-group-omdq-DEF {
              font-family: Luckiest Guy, 'Source Sans Pro';
              border-radius: 0.5rem;
              flex-shrink: 0;
              margin-bottom: 1.7rem;
              width: 47.2rem;
              color: #9c9b9b;
              padding: 2.25rem 1.1rem 0.65rem 1.1rem;
              display: flex;
              line-height: 1;
              font-weight: 400;
              white-space: nowrap;
              border: solid 0.3rem #171717;
              background-color: rgba(47, 47, 47, 0.5);
              box-sizing: border-box;
              font-size: 3.2rem;
            }
            .auto-group-cvpj-fc3 {
              position: relative;
              flex-shrink: 0;
              margin-bottom: 2.5rem;
              width: 47.2rem;
              height: 7.05rem;

              .rectangle-17-1A7 {
                position: absolute;
                top: 0;
                border: solid 0.3rem #171717;
                box-sizing: border-box;
                width: 40.2rem;
                height: 6.1rem;
                border-radius: 0 0.5rem 0.5rem 0;
                left: 7rem;
                background-color: rgba(47, 47, 47, 0.5);
              }
              .rectangle-18-umH {
                position: absolute;
                top: 0;
                border: solid 0.3rem #171717;
                border-radius: 0.5rem 0 0 0.5rem;
                width: 7.2rem;
                height: 6.1rem;
                left: 0;
                box-sizing: border-box;
                background-color: rgba(47, 47, 47, 0.5);
              }
              .discord-username-RDq {
                font-family: Luckiest Guy, 'Source Sans Pro';
                white-space: nowrap;
                height: 3.2rem;
                top: 2.25rem;
                font-size: 3.2rem;
                display: flex;
                font-weight: 400;
                line-height: 1;
                color: #9c9b9b;
                width: 28.9rem;
                position: absolute;
                left: 8.1rem;
              }
              .item--Xnf {
                font-weight: 400;
                font-family: Luckiest Guy, 'Source Sans Pro';
                color: #bcbcbc;
                top: 0.55rem;
                justify-content: center;
                font-size: 6.5rem;
                line-height: 1;
                width: 4.4rem;
                height: 6.5rem;
                position: absolute;
                white-space: nowrap;
                left: 1.4rem;
                display: flex;
                align-items: center;
              }
            }
            .auto-group-gqwh-cp7 {
              margin: 0rem 5.8rem 0rem 1.7rem;
              width: calc(100% - 7.5rem);
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;

              .checkbox-8XZ {
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.5rem;
                flex-shrink: 0;
                margin: 0.15rem 1.2rem 0rem 0rem;
                width: 4rem;
                height: 4rem;
                position: relative;
              }
              .by-checking-this-box-you-agree-to-the-terms-of-service-qwm {
                line-height: 1;
                color: rgba(236, 236, 236, 0.8500000238);
                font-family: Luckiest Guy, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 40.9rem;
                display: flex;
                font-size: 2.7rem;
                font-weight: 400;

                .by-checking-this-box-you-agree-to-the-terms-of-service-qwm-sub-0 {
                }
                .by-checking-this-box-you-agree-to-the-terms-of-service-qwm-sub-1 {
                  color: rgba(236, 236, 236, 0.8500000238);
                  font-family: Luckiest Guy, 'Source Sans Pro';
                  font-size: 2.7rem;
                  font-weight: 400;
                  line-height: 1;
                  text-decoration-line: underline;
                }
                .by-checking-this-box-you-agree-to-the-terms-of-service-qwm-sub-2 {
                }
              }
            }
          }
          .rectangle-19-M2w {
            border-radius: 1rem;
            flex-shrink: 0;
            width: 100%;
            height: 11.8rem;
            background-color: rgba(32, 32, 32, 0.7699999809);
          }
        }
      }
    }
    .polygon-1-GQo {
      top: 72.6rem;
      object-fit: contain;
      vertical-align: top;
      width: 4rem;
      height: 6rem;
      position: absolute;
      left: 1.7rem;
    }
    .exit-bxs {
      box-shadow: 0 0 0.5rem #000000;
      background-color: #2d2d2d;
      height: 8rem;
      padding: 4rem 1.4rem;
      width: 8rem;
      position: absolute;
      left: 1.3rem;
      top: 19.2rem;
      border-radius: 4rem;
      box-sizing: border-box;

      .line-6-XrX {
        width: 5.2rem;
        height: 0;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .header-fC3 {
      box-sizing: border-box;
      width: 192rem;
      height: 18.559rem;
      position: absolute;
      background-color: rgba(28, 28, 28, 0.75);
      padding: 3rem 1.784rem 2.909rem 77.55rem;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;

      .coins-mF5 {
        font-family: Arimo Hebrew Subset, 'Source Sans Pro';
        display: flex;
        font-weight: 700;
        justify-content: center;
        font-size: 1.6rem;
        line-height: 1.2575;
        color: #ffc712;
        white-space: nowrap;
        flex-shrink: 0;
        margin: 10.55rem 0.021rem 0rem 0rem;
        align-items: center;
      }
      .auto-group-9abq-4jy {
        flex-shrink: 0;
        margin: 2.43rem 73.429rem 0rem 0rem;
        width: 29.4rem;
        align-items: flex-end;
        display: flex;
        flex-direction: column;

        .link-heading-1-cs-auction-z7q {
          width: 100%;
          justify-content: center;
          font-size: 6rem;
          font-family: Arimo Hebrew Subset, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.52rem;
          display: flex;
          align-items: center;
          font-weight: 700;
          line-height: 1.2575;
        }
        .auto-group-ztcx-6As {
          margin-right: 0.1205rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .miscellaneous-EH5 {
            font-family: Arimo Hebrew Subset, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 3.15rem;
            display: flex;
            font-size: 1.6rem;
            line-height: 1.2575;
            color: #ffc712;
            align-items: center;
            justify-content: center;
            font-weight: 700;
          }
          .items-wxB {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 3.7rem;
            align-items: center;
            font-weight: 700;
            line-height: 1.2575;
            font-family: Arimo Hebrew Subset, 'Source Sans Pro';
            display: flex;
            justify-content: center;
            font-size: 1.6rem;
            color: #ffc712;
          }
          .discord-5Yb {
            display: flex;
            align-items: center;
            line-height: 1.2575;
            white-space: nowrap;
            flex-shrink: 0;
            justify-content: center;
            font-size: 1.6rem;
            font-weight: 700;
            color: #513dcf;
            font-family: Arimo Hebrew Subset, 'Source Sans Pro';
          }
        }
      }
      .link-1BM {
        line-height: 1.2575;
        flex-shrink: 0;
        margin-bottom: 9.85rem;
        display: flex;
        border-radius: 0.5rem;
        height: 2.8rem;
        align-items: center;
        white-space: nowrap;
        background-color: #ccae4e;
        font-size: 1.6rem;
        font-weight: 400;
        color: #1c1c1c;
        font-family: Arial, 'Source Sans Pro';
        width: 5.916rem;
        justify-content: center;
      }
    }
  }
}
