
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.cauctionxyz-home-kVd {
  width: 100%;
  height: 247rem;
  position: relative;
  background-color: #1c1c1c;

  .section-Tuq {
    flex-direction: column;
    background-size: 100% 100%;
    background-position: center;
    background-image: url('REPLACE_IMAGE:7b79826a7fcc44fcaaf99eab9c61a316efe4aabe');
    left: 0;
    top: 0;
    align-items: center;
    display: flex;
    background-repeat: no-repeat;
    background-color: #242424;
    width: 192rem;
    height: 238rem;
    position: absolute;

    .auto-group-tuqf-ydH {
      height: 18.559rem;
      flex-shrink: 0;
      margin-bottom: 3.291rem;
      width: 100%;

      .header-Wt7 {
        box-sizing: border-box;
        padding: 3rem 1.784rem 2.909rem 77.55rem;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: rgba(28, 28, 28, 0.75);

        .coins-37M {
          margin: 10.55rem 0.02rem 0rem 0rem;
          display: flex;
          font-size: 1.6rem;
          line-height: 1.2575;
          color: #ffc712;
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          font-weight: 700;
          font-family: Arimo Hebrew Subset, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .auto-group-n911-uvF {
          margin: 2.43rem 73.43rem 0rem 0rem;
          width: 29.4rem;
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .link-heading-1-cs-auction-Rdh {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.52rem;
            width: 100%;
            justify-content: center;
            font-weight: 700;
            font-family: Arimo Hebrew Subset, 'Source Sans Pro';
            display: flex;
            align-items: center;
            font-size: 6rem;
            line-height: 1.2575;
          }
          .auto-group-44tf-7WX {
            margin-right: 0.1205rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .miscellaneous-3f5 {
              display: flex;
              justify-content: center;
              font-weight: 700;
              line-height: 1.2575;
              font-family: Arimo Hebrew Subset, 'Source Sans Pro';
              flex-shrink: 0;
              margin-right: 3.15rem;
              align-items: center;
              font-size: 1.6rem;
              color: #ffc712;
              white-space: nowrap;
            }
            .items-Mfm {
              align-items: center;
              justify-content: center;
              font-size: 1.6rem;
              line-height: 1.2575;
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 3.7rem;
              display: flex;
              font-weight: 700;
              color: #ffc712;
              font-family: Arimo Hebrew Subset, 'Source Sans Pro';
            }
            .discord-67Z {
              display: flex;
              font-family: Arimo Hebrew Subset, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.2575;
              color: #513dcf;
            }
          }
        }
        .link-Q8F {
          margin-bottom: 9.85rem;
          width: 5.916rem;
          color: #1c1c1c;
          height: 2.8rem;
          display: flex;
          align-items: center;
          border-radius: 0.5rem;
          font-weight: 400;
          white-space: nowrap;
          background-color: #ccae4e;
          flex-shrink: 0;
          justify-content: center;
          font-size: 1.6rem;
          line-height: 1.2575;
          font-family: Arial, 'Source Sans Pro';
        }
      }
    }
    .about-us-TMR {
      align-items: center;
      font-size: 6.4rem;
      margin-right: 5.2rem;
      display: flex;
      justify-content: center;
      font-weight: 400;
      line-height: 1;
      color: #ffaf00;
      font-family: Luckiest Guy, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .auto-group-bmfv-x3H {
      flex-shrink: 0;
      width: 100%;
      height: 209.75rem;
      position: relative;

      .cs-auction-is-the-1-website-for-anything-related-to-hypixel-skyblock-items-coins-accessories-pets-and-more-are-all-available-bundles-of-items-that-are-not-available-anywhere-else-are-offered-and-the-best-part-its-100-safe-5tb {
        height: 25rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        width: 137.6rem;
        position: absolute;
        left: 27.2rem;
        top: 4.95rem;
        text-align: center;
        font-size: 5rem;
        line-height: 1;
        font-family: Luckiest Guy, 'Source Sans Pro';
      }
      .dev-1-3yq {
        display: flex;
        box-shadow: 0 0 5rem #000000;
        background-color: rgba(20, 20, 20, 0.75);
        height: 30rem;
        padding: 5rem 3.5rem 4.999rem 3.1rem;
        width: 60rem;
        position: absolute;
        left: 63.8rem;
        top: 113.85rem;
        align-items: center;
        border-radius: 1rem;
        box-sizing: border-box;

        .auto-group-no7v-LT9 {
          width: 21.4rem;
          height: 13.25rem;
          position: relative;
          flex-shrink: 0;
          margin: 0rem 5.15rem 4.751rem 0rem;

          .h2-rRV {
            display: flex;
            line-height: 1;
            white-space: nowrap;
            width: 21.4rem;
            height: 12.8rem;
            left: 0;
            top: 0;
            position: absolute;
            font-size: 12.8rem;
            font-weight: 400;
            font-family: Luckiest Guy, 'Source Sans Pro';
          }
          .wwwcowcom-xjR {
            display: flex;
            font-size: 2.4rem;
            width: 18.8rem;
            height: 2.4rem;
            top: 10.85rem;
            line-height: 1;
            color: rgba(74, 79, 214, 0.5);
            font-family: Luckiest Guy, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            left: 0.1rem;
            font-weight: 400;
          }
        }
        .line-5-daf {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 6.457rem;
          width: 0.393rem;
          height: 20.0012rem;
        }
        .gengarpfp-1-MmZ {
          margin-bottom: 0.0007rem;
          width: 20rem;
          height: 20rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          flex-shrink: 0;
        }
      }
      .developer-So1 {
        font-family: Luckiest Guy, 'Source Sans Pro';
        position: absolute;
        left: 78.05rem;
        align-items: center;
        justify-content: center;
        font-size: 6.4rem;
        line-height: 1;
        white-space: nowrap;
        width: 31.6rem;
        height: 6.4rem;
        top: 102.5rem;
        display: flex;
        font-weight: 400;
      }
      .questions-comments-join-the-discord-Z6w {
        line-height: 1;
        font-family: Luckiest Guy, 'Source Sans Pro';
        white-space: nowrap;
        width: 125.5rem;
        top: 202.9rem;
        left: 33.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 6.4rem;
        font-weight: 400;
        height: 6.4rem;
        position: absolute;
      }
      .notice-we-are-not-for-anything-after-sale-eu5 {
        font-family: Luckiest Guy, 'Source Sans Pro';
        height: 6.4rem;
        left: 28.4rem;
        top: 182.45rem;
        display: flex;
        justify-content: center;
        align-items: baseline;
        white-space: nowrap;
        width: 135.3rem;
        position: absolute;
        font-size: 6.4rem;
        font-weight: 400;
        line-height: 1;
        color: rgba(255, 255, 255, 0.25);

        .notice-we-are-not-for-anything-after-sale-eu5-sub-0 {
          color: rgba(255, 255, 255, 0.25);
          font-family: Luckiest Guy, 'Source Sans Pro';
          font-size: 6.4rem;
          font-weight: 400;
          line-height: 1;
        }
        .notice-we-are-not-for-anything-after-sale-eu5-sub-1 {
          color: rgba(255, 255, 255, 0.25);
          font-family: Luckiest Guy, 'Source Sans Pro';
          font-size: 6.4rem;
          font-weight: 400;
          line-height: 1;
          text-transform: uppercase;
          text-decoration-line: underline;
        }
        .notice-we-are-not-for-anything-after-sale-eu5-sub-2 {
          font-size: 6.4rem;
          font-weight: 400;
          line-height: 1;
          color: rgba(255, 255, 255, 0.25);
          font-family: Luckiest Guy, 'Source Sans Pro';
        }
        .notice-we-are-not-for-anything-after-sale-eu5-sub-3 {
          font-size: 6.4rem;
          font-weight: 400;
          line-height: 1;
          text-decoration-line: underline;
          color: rgba(255, 255, 255, 0.25);
          font-family: Luckiest Guy, 'Source Sans Pro';
        }
        .notice-we-are-not-for-anything-after-sale-eu5-sub-4 {
          font-weight: 400;
          line-height: 1;
          color: rgba(255, 255, 255, 0.25);
          font-family: Luckiest Guy, 'Source Sans Pro';
          font-size: 6.4rem;
        }
      }
      .sell-coins-heading-fUj {
        width: 87.7rem;
        height: 51.8rem;
        position: absolute;
        left: 50.25rem;
        top: 38.55rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .join-the-discord-and-sell-us-your-coins-and-items-0025-million-ie-item-worth-100m-250-minimum-item-value-100-million-coins-minimum-coin-sell-amount-100-million-coins-PQj {
          font-family: Luckiest Guy, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 87.7rem;
          text-align: center;
          font-size: 3.6rem;
          font-weight: 400;
          line-height: 1;
          color: #ebeca9;

          .join-the-discord-and-sell-us-your-coins-and-items-0025-million-ie-item-worth-100m-250-minimum-item-value-100-million-coins-minimum-coin-sell-amount-100-million-coins-PQj-sub-0 {
            color: rgba(255, 255, 255, 0.5);
            font-family: Luckiest Guy, 'Source Sans Pro';
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1;
          }
          .join-the-discord-and-sell-us-your-coins-and-items-0025-million-ie-item-worth-100m-250-minimum-item-value-100-million-coins-minimum-coin-sell-amount-100-million-coins-PQj-sub-1 {
          }
          .join-the-discord-and-sell-us-your-coins-and-items-0025-million-ie-item-worth-100m-250-minimum-item-value-100-million-coins-minimum-coin-sell-amount-100-million-coins-PQj-sub-2 {
            font-weight: 400;
            line-height: 1;
            color: #05ff00;
            font-family: Luckiest Guy, 'Source Sans Pro';
            font-size: 6.4rem;
          }
          .join-the-discord-and-sell-us-your-coins-and-items-0025-million-ie-item-worth-100m-250-minimum-item-value-100-million-coins-minimum-coin-sell-amount-100-million-coins-PQj-sub-3 {
            font-weight: 400;
            line-height: 1;
            color: #159b12;
            font-family: Luckiest Guy, 'Source Sans Pro';
            font-size: 3.2rem;
          }
          .join-the-discord-and-sell-us-your-coins-and-items-0025-million-ie-item-worth-100m-250-minimum-item-value-100-million-coins-minimum-coin-sell-amount-100-million-coins-PQj-sub-4 {
          }
          .join-the-discord-and-sell-us-your-coins-and-items-0025-million-ie-item-worth-100m-250-minimum-item-value-100-million-coins-minimum-coin-sell-amount-100-million-coins-PQj-sub-5 {
            color: #abeca9;
            font-family: Luckiest Guy, 'Source Sans Pro';
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1;
          }
          .join-the-discord-and-sell-us-your-coins-and-items-0025-million-ie-item-worth-100m-250-minimum-item-value-100-million-coins-minimum-coin-sell-amount-100-million-coins-PQj-sub-6 {
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1;
            color: #ffb700;
            font-family: Luckiest Guy, 'Source Sans Pro';
          }
          .join-the-discord-and-sell-us-your-coins-and-items-0025-million-ie-item-worth-100m-250-minimum-item-value-100-million-coins-minimum-coin-sell-amount-100-million-coins-PQj-sub-7 {
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1;
            color: #abeca9;
            font-family: Luckiest Guy, 'Source Sans Pro';
          }
          .join-the-discord-and-sell-us-your-coins-and-items-0025-million-ie-item-worth-100m-250-minimum-item-value-100-million-coins-minimum-coin-sell-amount-100-million-coins-PQj-sub-8 {
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1;
            color: #ffb700;
            font-family: Luckiest Guy, 'Source Sans Pro';
          }
        }
        .auto-group-z551-UF9 {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 11.1rem 24.242rem 0rem 24.558rem;
          width: 100%;

          .primary-button-b4s {
            box-sizing: border-box;
            font-size: 6.4rem;
            color: #ffffff;
            box-shadow: 0 0 5rem rgba(128, 112, 226, 0.25);
            width: 100%;
            justify-content: center;
            font-weight: 400;
            border-radius: 0.6rem;
            padding: 2.6rem 7.45rem 0.7rem 7.45rem;
            display: flex;
            font-family: Luckiest Guy, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 1.4rem;
            align-items: center;
            line-height: 1;
            white-space: nowrap;
            background-color: #6a5acd;
          }
          .or-contact-wwwcowcom-on-discord-RJo {
            justify-content: center;
            font-size: 2rem;
            line-height: 1;
            font-family: Luckiest Guy, 'Source Sans Pro';
            flex-shrink: 0;
            align-items: center;
            display: flex;
            font-weight: 400;
            color: #c5bfeb;
            white-space: nowrap;
            margin-right: 0.8153rem;
          }
        }
      }
      .divdivider-j4b {
        height: 0.2rem;
        position: absolute;
        left: 48.4rem;
        top: 3.25rem;
        border: solid 0.2rem #ccae4e;
        box-sizing: border-box;
        width: 91.4rem;
      }
      .divdivider-Sjh {
        box-shadow: 0 0 5rem #ffffff;
        width: 91.4rem;
        height: 0.2rem;
        position: absolute;
        left: 48.1rem;
        top: 109.15rem;
        border: solid 0.2rem #ffffff;
        box-sizing: border-box;
      }
    }
  }
  .footer-XFM {
    font-weight: 400;
    line-height: 1.2575;
    height: 10rem;
    position: absolute;
    font-size: 1.6rem;
    color: #ccae4e;
    font-family: Arial, 'Source Sans Pro';
    display: flex;
    justify-content: center;
    background-color: #1c1c1c;
    width: 192rem;
    left: 0;
    top: 237rem;
    align-items: center;
    white-space: nowrap;

    .footer-XFM-sub-0 {
    }
    .footer-XFM-sub-1 {
      line-height: 1.2575;
      color: #738adb;
      font-family: Arial, 'Source Sans Pro';
      font-size: 1.6rem;
      font-weight: 400;
    }
  }
}
